[2019-02-01 19:01] Vlix commented on #381
I also get this:
`Can not determine Stack target for file Haskell file because no accompanying `hs-source-dirs` can be found in Cabal file(s)`

All the .cabal files are fine. Every library/executable/test-suite has defined the `hs-source-dirs` correctly. What the hell is `Haskell file` anyway?

[2019-02-02 02:52] mouse07410 commented on #375
With `stack` - same problem. There seems to be no way to pass flags to building `ghc-paths` package, so building `intero` (which depends on `ghc-paths`) always fails.

I suspect it's the problem with `stack` itself, probably a design issue.

Could you please stop automatic build of the project? Or at least give the user config option to disable automatic build?

Also, since `cabal` appears to work

[2019-02-02 07:46] normenmueller commented on #350
[CleanMyMac](https://macpaw.com/cleanmymac) is the criminal! Puh!

[2019-02-02 07:46] #350 closed

[2019-02-02 10:52] rikvdkleij commented on #350
Great to hear that this mystery is solved :smile:

[2019-02-02 10:52] develop7 commented on #374
Yup that does it indeed

[2019-02-02 10:52] #374 closed

[2019-02-02 10:57] rikvdkleij commented on #381
Can you elaborate?

Looks like you are using an old beta version of the plugin because message should mention file path.

To install latest beta see,
https://github.com/rikvdkleij/intellij-haskell#installing-latest-beta-of-the-plugin

It will automatically install all Haskell tools in an IntelliJ sandbox.

[2019-02-02 11:18] rikvdkleij commented on #375
So I can remove the settings field to pass options to stack commands?

That does not solve your problem. Stack is also used for building intero, installing tools and running the REPLs with Intero. Intero only works for stack projects.

Yes, that would be solution together with replacing Intero by another Haskell backend. But this takes some development effort. Btw, I already did some preparations

[2019-02-02 11:52] rikvdkleij commented on #374
Great, thanks for testing!

[2019-02-03 01:33] mouse07410 commented on #375
Please don't. This is a very useful feature (regardless of the backend type, BTW), even if there are a few packages (like `ghc-paths`) that seem "immune" to it. Thankfully, the majority of the packages can benefit from this feature.

I hear you, but don't fully understand: on my setup there's no way to build either `intero` or `ghc-paths` (which `intero` depends on) using `stack`. So your plugin f

[2019-02-03 08:37] rikvdkleij commented on #381
When you give example project I can try to reproduce problem with latest version.

[2019-02-03 13:40] rikvdkleij commented on #375
I still wonder if it makes sense to have setting to add extra options to stack commands because it sometimes works and sometimes not. Very confusing for future users.

[2019-02-03 13:53] rikvdkleij commented on #375
There is only GHC version per computer (when needed)  :smile:

A lot of features depend on running the stack repl with intero as plugin. So stack repl to have a repl in the context of the project and intero for features like definition location and type info based on location.
So what helps for you is that I add another setting in which user can point to alternative location of intero , which has

[2019-02-03 19:59] rikvdkleij commented on #378
Thanks for reporting!

I can reproduce this issue but I can not find the cause.

[2019-02-03 22:38] Vlix commented on #381
The stack haddock problem is because of a bug in the latest GHC versions. GHC doesn't keep to one of its own invariants concerning module re-exports with type families or something, which makes haddock segfault or whatever.
(I believe `esqueleto` has this problem, so just try `stack build --haddock` on the latest version with the latest GHC and it'll probably fail to build documentation. And our o

[2019-02-08 14:54] develop7 commented on #379
Thanks for implementing this, it does the job in test project indeed, but I've ran into following exception after adding a package to the day job project:

<details><summary>stack trace</summary>

[code]
</details>

The stack trace looks very relevant to this issue, unfortunately I'm not sure what I was doing wrong.

[2019-02-08 15:09] rikvdkleij commented on #379
Thanks for reporting!

Used this feature already couple of time within large projects and worked as expected so must be some corner case.

Looking to the stacktrace it could be that no Cabal file was found but library code should not crash....

[2019-02-08 15:18] rikvdkleij commented on #379
Can you give the directory listing of the root folder of the package you wanted to add?

[2019-02-08 15:28] Sir4ur0n opened #382 "optF pragma incorrectly parsed"
Based on [tasty-discover documentation](https://hackage.haskell.org/package/tasty-discover) and [GHC spec](https://downloads.haskell.org/~ghc/8.6.3/docs/html/users_guide/phases.html?highlight=optf#ghc-flag--optF%20%E2%9F%A8option%E2%9F%A9), the string following `-optF` should be passed to the preprocessor.

Intellij Haskell incorrectly interprets options containing `--` in a pragma, example:
[code

[2019-02-08 15:47] Sir4ur0n commented on #382
Surprisingly this seems to work fine with new lines:
[code]

[2019-02-08 16:01] rikvdkleij commented on #382
Thanks for reporting! Will fix it.

[2019-02-09 15:58] develop7 commented on #379
All right, here's a redacted screenshot. The package directory name, .cabal file name and package name in the .cabal file are all the same.

![screenshot from 2019-02-09 18-52-30](https://user-images.githubusercontent.com/89889/52522889-2f347c80-2c9c-11e9-8903-4836446227f3.png)

[2019-02-09 16:51] rikvdkleij commented on #379
Thanks!

No hidden files?

[2019-02-09 16:58] develop7 commented on #379
none, besides usual `.gitignore` & `.stack-work`

BTW copying&renaming `.iml` file from sibling package & referencing it in `.idea/modules.xml` did the job

[2019-02-09 17:04] rikvdkleij commented on #379
Ok, but that is just hacking :smile:

Like I said, importing new modules in existing projects worked for me. I'm curious why it does not work in your case.

[2019-02-09 18:16] rikvdkleij commented on #379
Other question :smile:

How do you refer in the `stack.yaml` to that other project/module?

[2019-02-09 18:50] develop7 commented on #379
by simply adding the

[code]

line under `packages` key

[2019-02-09 20:17] rikvdkleij commented on #379
So not using a relative or absolute file path?

[2019-02-09 20:44] develop7 commented on #379
I mean, it is relative already, to the stack project root.

[2019-02-10 12:38] rikvdkleij commented on #379
Okay, I get exactly the same error (stacktrace) when there exists a non-existing file path in `packages`.

Only thing the plugin can do is check if file path exists before adding new module.

[2019-02-11 12:04] Sir4ur0n commented on #228
Hi guys, any progress here? I still get this exception in beta 44.

[2019-02-11 12:09] rikvdkleij commented on #228
@Sir4ur0n  It is impossible that your error is the same as originally in this issue  😄

Can you give me the stacktrace so I can see where a readaction is missing?

[2019-02-11 12:14] Sir4ur0n commented on #228
[code]

[2019-02-11 12:17] rikvdkleij commented on #228
@Sir4ur0n Thanks!

[2019-02-11 19:54] rikvdkleij commented on #379
I have tried to reproduce your issue with new package to import in project folder but without success.

[2019-02-11 19:59] rikvdkleij commented on #382
Okay, this was really an unexpected struggle to get fixed. Problem is that parser sees everything that starts with `--` as comment.

Got a proper solution at the cost of no code completion within the pragma.

[2019-02-12 09:44] kenranunderscore opened #383 "Renaming a module should rename it in the .cabal file as well"
Right now, if I use the `Refactor -> Rename...` option on a module, it correctly renames it everywhere but in the `.cabal` file.
This seems to be relevant only for projects which do not use `package.yaml` though.

[2019-02-12 10:03] rikvdkleij commented on #383
Thanks for reporting 😄

[2019-02-12 10:05] rikvdkleij commented on #382
@ice1000 Do you know a better solution?

[2019-02-12 20:39] ice1000 commented on #382
Yes, create a lexer state and parse everything inside the pragma as some trivial tokens

[2019-02-12 20:53] rikvdkleij commented on #382
@ice1000
That's not clear for me, Can you give example?

[2019-02-13 09:05] rikvdkleij commented on #382
@ice1000

On a second thought, that's what I already implemented as solution for this issue. See the commit. The point is that the whole options_ghc pragma is one big token. So I thought, maybe you  know a better solution.

[2019-02-13 18:04] letmaik opened #384 "Rename sometimes aborted and leaves names inconsistent"
After initiating rename on a local variable, all the occurences change while I type, but then for weird reasons it may happen that the final rename doesn't work when I press enter. This results in the identifier under the cursor to have the new name, but all the others to revert to the old name. This is very annoying as it means I need to check each time whether everything went alright.

[2019-02-13 18:05] letmaik opened #385 "Fast initiation of renaming misses all other occurrences"
When I click on an identifier and very quickly (via keyboard shortcut) initiate the renaming, then it may happen that the other occurrences are not highlighted/detected yet and it will only rename the identifier under the cursor. This leaves the file in an inconsistent state.

[2019-02-13 19:49] ice1000 commented on #382
@rikvdkleij I'll try to elaborate my solution with a PR.

[2019-02-14 11:29] rikvdkleij commented on #384
Thanks for feedback!

Does the name of the identifier starts with a quote`'` or ends on a dot`.`?

[2019-02-14 11:34] rikvdkleij commented on #385
Thanks for reporting!

I also sometimes experience that problem, especially when Haskell module is large.

Loading the module takes some times in the REPL and during that loading the REPL is not available for  other requests like asking for location info of a identifier.

Can not do much about that. Plugin tries to cache as much as possible (but can take a look again). Final solution is to use Has

[2019-02-14 13:27] rikvdkleij commented on #379
I found another cause of this error. When there are git(hub) references defined in `packages`.

[2019-02-14 14:35] letmaik commented on #385
Isn't there a way to delay the start of the renaming action so that it waits until the REPL is ready and gave an answer?

[2019-02-14 14:41] letmaik commented on #384
No, just letters.

[2019-02-14 14:48] develop7 commented on #379
Yes there are in my `stack.yaml`! They should've been added as modules too, but there's no way to ask stack to list directories with packages source code.

[2019-02-14 15:01] rikvdkleij commented on #379
Well, I could download code and add them as modules but that is some work and have to do some more investigation. Also, if github reference is changed, plugin has to update the code in some way. Does package have to be seen as part of project or as external library?

[2019-02-14 15:13] rikvdkleij commented on #384
I only know this annoying behavior with identifiers which start with quote or ends on dot, that is an IntelliJ bug: https://youtrack.jetbrains.com/issue/IDEA-204576

Can you give some info about how I can reproduce this issue? When does it happen?
I can only guess that this happens just after loading a module and the cache is invalidated.

You can enable Event log to see what is going in the backg

[2019-02-14 15:26] rikvdkleij commented on #385
Just noticed that there is already a simple check if REPL is not busy before renaming. But  it also has to check that all needed references are already known.  But how does IntelliJ know that 😄

Will think about a solution. Maybe some preloading of definition location info...

[2019-02-15 22:24] chrisdone opened #386 "Specify -fobject-code when launching intero"
Hi @rikvdkleij

One optimisation that Intero for Emacs uses is to set `-fobject-code` when launching intero so that only those modules that have changed are recompiled; this scales well for large projects. With the default `-fbyte-code` all modules are reloaded every time with `:load`.

(`:reload` will load just the recent module, but _switching modules_ causes a big reload of everything. So that'

[2019-02-16 13:10] rikvdkleij commented on #382
@ice1000 Many thanks in advance!

I do not want to push but any idea when you can create a PR?

[2019-02-16 13:43] rikvdkleij commented on #386
Thanks for your feedback!

Some time again I experimented with that option. The drawback is that `:browse! *moduleName` does not work anymore. Plugin needs that info to give code completion with type info. The plugin it's parser is not smart enough :smile:  I do not see alternative solution for that kind of info.

The plugin has a preference to call `:reload`. When user goes to another module, fir

[2019-02-16 13:51] rikvdkleij commented on #386
About your feedback on Reddit Haskell of using `stack build intero --copy-compiler-tool`

Can I used that command every time a project is started? So it only builds when intero is not yet build for GHC version of project?

How to manage intero updates? Let's say one project is using LTS13.1 and a new project is using LTS13.6 in which intero is updated. Does intero gets rebuild when latter project

[2019-02-16 19:09] sheyll commented on #319
+1 for Brittany

[2019-02-16 22:51] ice1000 commented on #382
This weekend.

[2019-02-17 04:24] ice1000 commented on #382
I see some garbage lexical tokens like `HS_DOUBLE_QUOTE`. These are no longer used but kept `general_pragma_content`..

[2019-02-17 04:53] ice1000 commented on #332
Let's re-open this @rikvdkleij.

My local dev branch resolves this in an ideal way, I hope I can re-close this issue in the PR :wink:

[2019-02-17 05:08] ice1000 commented on #258
Any repro cases?

[2019-02-17 05:14] ice1000 commented on #382
Checkout my PR. I hope I'm not making stupid mistakes.

Bomb my PR with edge cases!

[2019-02-17 08:30] develop7 commented on #379
To think of it, all of the VCS "packages" actually had an `extra-dep: true` stanza, which means they must end up on the `extra-deps` section (the `extra-dep: true` isn't mentioned in Stack docs at the moment). Therefore I should these "packages" to `extra-deps` first and the issue would just go away.

Stack checks out VCS/http dependencies under `.stack-work/downloaded/<seemingly_random_name>/`, s

[2019-02-17 10:01] chrisdone commented on #386
Here's how it works in Intero for Emacs:

It uses the `stack path --compiler-tools-bin` command which outputs a directory for where, in this project for the GHC version in use, the intero binary should be if it's installed.

[code]

The Emacs package runs that to produce the string `$COMPILER_PATH/intero`. It runs `$COMPILER_PATH/intero --version` and checks against its expected version, e.g. 0.1.

[2019-02-17 18:35] #382 closed

[2019-02-17 18:49] rikvdkleij commented on #386
Thanks!

So the latest version of intero has to be defined in the plugin?

Do you know an alternative solution for `:browse! *moduleName` when `-fobject-code` is enabled?

[2019-02-17 19:19] ice1000 opened #388 "Plugin throws exception under 191 EAP"
[code]

[2019-02-17 19:20] ice1000 commented on #388
Well opening "create new project" gives me:

[code]

[2019-02-17 19:21] ice1000 commented on #388
I can't understand. The classes implements the interfaces actually.

[2019-02-17 19:23] rikvdkleij commented on #388
You have to set `unmanaged.jars` in Module settings dependencies to provided.

[2019-02-17 19:23] ice1000 commented on #388
Ok. It's because my `unmanaged-jars` are not configured "Provided".

[2019-02-17 19:23] #388 closed

[2019-02-17 19:24] rikvdkleij commented on #388
Ok :smile:

[2019-02-18 09:41] chrisdone commented on #386
It's possible to temporarily `:set -fbyte-code` and `:reload` to get information for the current module then `:set -fobject-code` back afterward. Intero does that if it uses `:info` and doesn't get anything back. It's definitely a matter of figuring out what works for you at this point.

[2019-02-18 11:55] Sir4ur0n opened #391 "Live templates have a bad context"
There are a few default live templates (e.g. `data`, `datag`) which have an invalid context. They have `Haskell / Global definition` enabled but it never prompts the template:
![image](https://user-images.githubusercontent.com/1204125/52949485-afce3980-337c-11e9-8973-5a96c59c10df.png)

However by enabling `Other` it works:
![image](https://user-images.githubusercontent.com/1204125/52949501-be1c558

[2019-02-18 15:33] rikvdkleij commented on #391
Thanks for reporting!

I never use this feature but will take a look.

[2019-02-18 17:21] Sir4ur0n opened #392 "Runner doesn't display standard output messages until the runner is stopped"
This may not be easy to explain, but here we go:
I'm using algebraic effects through `freer-simple`, and for some test I was using its [Trace](http://hackage.haskell.org/package/freer-simple-1.2.1.0/docs/Control-Monad-Freer-Trace.html) effect, which under the hood uses `putStrLn` to send messages to the standard output.

However I noticed when running through Intellij, the messages only appear whe

[2019-02-18 19:04] rikvdkleij commented on #392
Thanks for reporting!

This is similar issue as #378.

I have spend some time on it and could not find the cause. Any help is appreciated. I know almost for sure that is was working in the past.

[2019-02-19 15:40] rikvdkleij commented on #385
I think I found the cause of this issue. Also for #384

When the fix is okay then is should  be fixed in next beta.

[2019-02-19 18:50] sheyll opened #393 "Unexpectedly long start-up time"
This plugin is great, thanks a lot.

There is this one problem though: It takes about 5 Minutes on a decent workstation to load our project.

We have around 200 modules and 30000 lines of code.

In the event-log we see that the many modules are being loaded several times (one module 14 times for example).

It seems that it is `:browse!`-ed every time it is imported.

[code]

Is this a bug, or a co

[2019-02-19 19:32] rikvdkleij commented on #393
Thanks!

Yes, I see, that can be approved. Reason is that that kind of caching is done per file. But because of another change that can be changed.

But I do not think that is the main reason of the long initialization time. For every library component a REPL is sequentially started (otherwise REPL gives error). That takes some time, also because there have to be some pause after that one REPL is

[2019-02-19 19:43] sheyll commented on #393
Well, we have a single cabel file with one `lib` and three executables.
My colleague, who made the log file with intellij-idea, is currently away, and I desperately try to find how to produce a log file from the plugin, do you have a tip for me how I can make log files with intellij-haskell plugin output?

[2019-02-19 19:53] rikvdkleij commented on #393
As last point in https://github.com/rikvdkleij/intellij-haskell#getting-started is written how you can enable the Haskell Event Log.
I do not know how to redirect to log file.

[2019-02-19 19:54] rikvdkleij commented on #393
One lib component is not much. Then the reason is also the preloading of (library) module identifiers.

[2019-02-19 19:56] sheyll commented on #393
Yeah I got that event log from the comprehensive README (thanks for that btw), but I just have no clue on how my colleague managed to get logs, intellijs documentation was not helpful to me, either.

What are module identifiers?

[2019-02-19 20:16] rikvdkleij commented on #393
Yes.

[2019-02-20 06:55] ice1000 commented on #383
@rikvdkleij To implement this you may be interested in RenameHandler

[2019-02-20 09:13] rikvdkleij commented on #383
@ice1000 Thanks for the pointer!

[2019-02-20 10:17] scameronde commented on #319
+1 for Brittany

[2019-02-20 20:17] ice1000 commented on #258
So this means pragmas can be expressions.
Possibility an easy fix

[2019-02-20 20:37] rikvdkleij commented on #258
According to me it's already fixed.

[2019-02-21 09:04] scameronde commented on #393
I am a colleague of sheyll but not the one that produced the first log lines.

I am working on a new computer (new Core i7, 32 GB ram, fast ssd) and get better results, but I do want to double check if the warm-up times are corresponding with your expectations (running on linux).

- on the command line `stack clean; stack build` of our project takes 40 seconds
- "Busy with preloading caches"  runs

[2019-02-21 11:28] rikvdkleij commented on #393
@scameronde Thanks for your feedback!

I'm busy which improvements which have to speedup the start-up time but do not expect large improvements. The plugin needs to do some preloading to become responsive. Also limited by the REPL which can not handle concurrent requests.

[2019-02-22 08:18] Sir4ur0n commented on #105
Hey, now that Intellij Haskell is a lot more mature, maybe we could reconsider this? I don't know about GHC, but GHCi API for debugging is quite nice, and I feel like it would be possible to integrate it into the Intellij debugger view (maybe I'm too naive though).

* Frames -> `:history` (this is not exactly a stack, but it's as close as we can get, I think?)
* Variables -> `:show bindings`
* Tog

[2019-02-24 12:15] #391 closed

[2019-02-26 01:49] ice1000 commented on #391
I made this. Sorry for the problem 😅

[2019-02-26 01:52] ice1000 commented on #391
You may try to fix this context detection code:

https://github.com/rikvdkleij/intellij-haskell/blob/c174113b0d27a3a053e88e9d5d6796aee0af46cc/src/main/scala/intellij/haskell/editor/HaskellLiveTemplate.scala#L25-L33

instead of just changing the context id in plugin.xml

Your change makes the context type above unused. Maybe delete it? I'm not satisfied with that context as well.

[2019-03-02 03:00] AllanWang opened #395 "Add option to disable Repl"
I'm building a compiler that uses happy, so as a result there are notably big files (> 1000 lines)

The plugin worked great before generating the happy files, but afterwards, the ide would constantly freeze and my macbook pro would run quite hot.

![image](https://user-images.githubusercontent.com/6251823/53676216-26b4dd80-3c6d-11e9-9d6d-15466da2dbf2.png)

It seems like the repl is repeatedly tryi

[2019-03-02 09:56] rikvdkleij commented on #395
Does it help to increase the REPL timeout in Settings?

[2019-03-02 17:29] AllanWang commented on #395
Thanks! 30 seconds seems to work better for me. We also downgraded happy since the compile time went from 5 seconds from old builds to 2 minutes in new builds. That was probably the reason

[2019-03-02 17:29] #395 closed

[2019-03-05 08:29] Sir4ur0n opened #396 "Add SUT_NAME variable to Haskell Test Module template"
A common Haskell pattern is in tests to import the tested module as `SUT` to easily see what is being tested:
[code]

We need to have the module name available for the file template. E.g. provide variable `${SUT_NAME}`.

I'll try to find time to provide a PR about this.

[2019-03-05 10:30] rikvdkleij commented on #396
Great!

[2019-03-05 19:57] develop7 commented on #249
Couldn't reproduce in beta44

[2019-03-07 17:17] #396 closed

[2019-03-18 17:44] rikvdkleij commented on #393
It should be improved in beta45, https://github.com/rikvdkleij/intellij-haskell/releases/tag/v1.0.0-beta45. Also uploaded to the JB plugin repo but can take some days before they have approved.

[2019-03-18 17:45] rikvdkleij commented on #384
It should be improved in beta45, https://github.com/rikvdkleij/intellij-haskell/releases/tag/v1.0.0-beta45. Also uploaded to the JB plugin repo but can take some days before they have approved.

[2019-03-18 17:48] rikvdkleij commented on #386
Done in beta45, https://github.com/rikvdkleij/intellij-haskell/releases/tag/v1.0.0-beta45. Also uploaded to the JB plugin repo but can take some days before they have approved.

Created alternative solution for `:browse! *moduleName` by using the parser and type info.

REPL switches to byte-code when info is requested.

[2019-03-20 10:27] develop7 commented on #378
Gets reproduced for me in Linux. My guess is the executable somehow gets a non-pty stdout/err which causes output buffering to be enabled automatically.

[2019-03-20 11:33] rikvdkleij commented on #378
Do not if it really solution but got the example in this way working:
[code]

[2019-03-20 14:47] develop7 commented on #378
changing the sample source in following way

[code]

prints

[code]

[2019-03-21 09:52] Sir4ur0n opened #398 "Extend selection is broken"
Hey,

`Extend selection` feature seems broken, which makes me think the parser is bugged? I'd assume this feature works OOTB in Intellij based on parsing.

Example:
[code]

Put your cursor somewhere on the string `"Foo"` and use `Extend selection` 3 times. It should select `("Foo")` but instead it selects `"Foo")` i.e. not the left parenthesis.
Do it another time: it should select `putStrLn ("Foo"

[2019-03-21 11:18] rikvdkleij commented on #398
Thanks for reporting!

No, that is not the case. OTOB it does not behave as you expect. I mainly use this feature to select an expression and surround it with parens. OTOB it selects the whole expression (including the left hand side) almost immediately,

I do not agree that extend selection is completely broken. The examples you give are related to parens (except for last one).

AFAICS the parser

[2019-03-21 11:24] rikvdkleij commented on #398
I will fix the issue with parens.

Will try to fix that also.

[2019-03-21 11:25] rikvdkleij commented on #393
Is it improved in beta45?

[2019-03-21 11:30] Sir4ur0n commented on #398
My bad, in my head it made sense Intellij provided this feature for free based on parsing result 😞

Thanks for your reply 😄

[2019-03-21 12:28] rikvdkleij commented on #398
I do not see that behavior in Java code. It select also the imports and package declaration.

[2019-03-21 13:43] Sir4ur0n commented on #398
It does, but separately. Consider the following class:
[code]

Put your cursor on `ZERO` and extend selection 9 times: the class is selected but not the imports/package declaration.
Extend selection 3 more times and then both imports and package declaration are taken.

[2019-03-21 13:53] rikvdkleij commented on #398
Aah, I see, I misunderstood you.

Current fix is without that, it goes from top declaration to module declaration. Is that really an issue? I do not see that as a problem.

[2019-03-22 07:32] scameronde commented on #393
It improved a lot.

- time for "Busy preloading caches" went from 90 seconds down to 32 seconds
- time for "Navigation is not available ..." went from 20 to 15 seconds

All in all, you managed to more than half the startup time. Impressive.

Thank you a lot!

[2019-03-22 13:36] rikvdkleij commented on #393
@scameronde Great to hear!

[2019-03-22 19:12] sheyll commented on #393
@rikvdkleij Wow, thanks so much!

[2019-03-22 23:52] dadepo opened #399 "Error On Import"
On installing the plugin and importing a project, I get the following error in IntelliJ's event log. What am I doing wrong?

`23/03/2019
00:48	Executing `/usr/local/bin/stack --system-ghc -j1 --stack-root /Users/me/Library/Caches/com.github.rikvdkleij.intellij-haskell/lts-13 --resolver lts-13 --compiler ghc-8.6.3 --local-bin-path /Users/me/Library/Caches/com.github.rikvdkleij.intellij-haskell/lts-

[2019-03-23 00:46] dadepo commented on #399
Works now

[2019-03-23 00:46] #399 closed

[2019-03-24 00:50] drewboardman opened #400 "Newline tabs not working within context"
Behavior: newlines not starting with tabs where they should.

[code]

[2019-03-24 10:03] rikvdkleij commented on #400
See #187 and #156

It’s difficult to implement in general. Also because the parser is not layout sensitive.

[2019-03-27 03:41] AllanWang opened #401 "File navigation goes to wrong file"
If I have `Base.hs` in both my src folder and test folder, and I have a module in my source folder that imports the source `Base`, it seems to navigate to the test version. Not sure why this is the case

[2019-03-27 15:21] rikvdkleij commented on #401
When they have also the same module name, the plugin does not know which one.

And what if you import `Base` in a test file, which one do you mean then?

[2019-03-27 16:29] AllanWang commented on #401
That makes sense. When I did my import it defaulted to the test file which is what I wanted so I didn't realize. Thanks!

[2019-03-27 16:29] #401 closed

[2019-03-27 19:59] mouse07410 opened #402 "Cannot download cabal config file for stack resolver lts 13.14"
We've already been there in #377 - but apparently it's not resolved:
[code]

Your current beta of the plugin, Intellij IDEA 2019.1.
[code]
and `intero` is on the path in `$HOME/.cabal/bin/`

How to proceed?

**Update**
Not sure if it's related - but I'm getting a ton of these:
[code]

`SplitStr` is the name of my project. Don't know what `stack` it uses, but `stack` in general runs on this machine

[2019-03-27 20:44] rikvdkleij commented on #402
This issue has nothing to do with Stack. Plugin tries to download a file from stackage.org which fails.

[2019-03-27 20:58] mouse07410 commented on #402
Can you do anything about it? Maybe have the plugin copy from `$HOME/.cabal/config` if it exists, and https://stackage.org did not provide its own?

Also, would you know what's happening with (or, more importantly, what causes) this:
[code]

[2019-03-28 12:24] rikvdkleij commented on #402
Yes, will change the plugin so it will fallback to a default `cabal.config`.

Looks like this issue:
https://github.com/chrisdone/intero/issues/43

You should not install intero globally. The plugin builds intero with same Stackage resolver/GHC version as your project.

[2019-03-28 12:46] mouse07410 commented on #402
I'd very much prefer to be able to force the plug-in to use my local intero, because as you saw for yourself, the plug-in fails to build it on my setup (the now-famous libiconv problem).

[2019-03-28 16:37] mouse07410 opened #403 "Plugin fails to save project config under Intellij-IDEA-2019.1"
Upgraded to Intellij IDEA-2019.1, and this plugin doesn't figure out the executable for the project config any more, and fails to save Running Configuration - upon which the IDE disables the plugin.

[2019-03-28 19:22] rikvdkleij commented on #403
I can not reproduce this issue. Also with 2019.1 I can create Haskell Stack Runner Configurations.

[2019-03-28 19:50] mouse07410 commented on #403
In my case it doesn't show anything in the "Executable" field, and though it allows creating Haskell Stack Runner copy - when I click on "Apply -> OK" it reports "Unable to save... Plugin disabled"...

Anything you could advise me to do...?

[2019-03-28 20:06] rikvdkleij commented on #402
No, not with current solution.

[2019-03-28 22:22] mouse07410 commented on #403
I have it on several machines. Could it be caused by the plugin's inability to build intero?

You suggested once that if I had intero built by the current GHC, I could put it into some directory and make the plugin happy. Is it still the case?

[2019-03-28 23:33] mouse07410 commented on #402
If the plugin would not automatically attempt to build everything, or at least have an option to not plunge into building `intero` as soon as the project is created - perhaps I could place the needed binaries where it expects them, and avoid this problem.

If there would be a per-resolver or per-GHC location that the plugin knew about, and looked there for the needed binaries such as `intero` befo

[2019-03-30 05:19] bassmake opened #404 "Rename `New Haskell File` to `Haskell File` in New menu"
`New Haskell file` is not consistent with other selections:
<img width="614" alt="Screenshot 2019-03-30 at 06 17 54" src="https://user-images.githubusercontent.com/1708543/55271822-a7d6b300-52b3-11e9-8e90-b50ce86c2b73.png">

[2019-03-30 19:04] develop7 opened #405 "Type info on the end of the line fails"
Repro: given line of code that ends with a binding, issue "View → Haskell → Type" action (<kbd>Alt</kbd><kbd>=</kbd>)

Expected: the type is shown, as if "Show type (sticky)" has been issued

Instead: a "could not determine type for" balloon is shown, see screenshot below

![image](https://user-images.githubusercontent.com/89889/55280527-be265280-5337-11e9-9148-239fc6af90f2.png)

[2019-04-01 08:02] Sir4ur0n opened #406 "Weird display with NumericUnderscores"
Display is weird for numbers with underscores:

[code]

![image](https://user-images.githubusercontent.com/1204125/55312194-2a52a480-5465-11e9-8fe9-de2b8375c488.png)

[2019-04-01 08:28] Sir4ur0n opened #407 "Git commit loops"
When commiting in Intellij (Git), most of the times, it loops a few times before it actually commits.
I tried to make a gif to better explain:
![intellij-haskell-commit-bug](https://user-images.githubusercontent.com/1204125/55313699-b87c5a00-5468-11e9-8422-b2974f97a1b9.gif)

Using either "Commit" or "Commit and push", with either keyboard shortcut or mouse click, this happens.

As you can see I ne

[2019-04-01 09:44] rikvdkleij commented on #407
And of you only select the “Haskell” options?

[2019-04-01 11:01] Sir4ur0n commented on #407
I'll give it a try and let you know!

[2019-04-01 13:36] rikvdkleij commented on #404
Thanks for reporting!

Looks like a regression issue. Should be `Haskell module`.

[2019-04-01 13:39] rikvdkleij commented on #405
Hmm, wonder if I understand this issue correctly.

Do you perform this action while there are errors?

[2019-04-01 13:57] develop7 commented on #405
No, the project does build successfully.

[2019-04-01 13:58] develop7 commented on #405
IJ-haskell 1.0beta45

[2019-04-01 15:20] rikvdkleij commented on #405
It looks like your cursor is after the identifier because the error message in your screenshot show an empty string ``

[2019-04-01 15:28] rikvdkleij commented on #406
Thanks for reporting! Will fix it.

[2019-04-01 15:37] develop7 commented on #405
Not only empty string, but rather a line feed

[2019-04-01 15:40] rikvdkleij commented on #405
So what do you expect? No info?

[2019-04-01 15:42] rikvdkleij commented on #405
When I put the cursor on an arbitrary position, I get the same error. I have to check if the cursor is located on a identifier.

[2019-04-01 15:52] develop7 commented on #405
On the contrary, I expect an info tooltip, because the caret is still in the expression.

[2019-04-01 15:53] rikvdkleij commented on #405
I would say, the cursor is after the identifier :smile:

[2019-04-01 15:56] develop7 commented on #405
It is, but identifier is still highlighted, right?

[2019-04-02 00:57] enolive opened #408 "Troubles with HLint under 2019.1"
After upgrading to 2019.1, I noticed some troubles with HLint.
For some reasons, at some point I don't get any more hints from HLint.

For example,

[code]

should get me a warning that I can replace `data` with `newtype`. This warning stops appearing after some time with the latest version of IntelliJ-Haskell (45-beta). The only way to get the warnings back is to restart the REPL. I downgraded to

[2019-04-02 07:10] rikvdkleij commented on #408
It's an issue of beta45. Already fixed locally. Problem is that IntelliJ inspection is running before file is saved.

[2019-04-02 20:35] mouse07410 commented on #403
@rikvdkleij I'm getting this error consistently. Here's the log - maybe it would help you help me.

There are two Haskell plugins installed - yours, and HaskForce. Of course, I disabled the other one before enabling yours (I don't know how to uninstall a plugin - only how to enable/disable it).

Message:
[code]

Log:
[code]

[2019-04-02 21:56] mouse07410 opened #409 "Weird problem - just see the messages"
Intellij IDEA-2019.1, GHC-8.6.4 (machine has 8.6.3 installed as well). My newly-created toy project (via `New -> Project -> Haskell Module -> Haskell Stack 1.9.3 SDK`) is called `Str2Split`.

First, why is the plugin insisting on `ghc-8.6.3`, when my config clearly says to use `ghc-8.6.4`? But it gets more interesting:

[code]

Here's `~/Library/Caches/com.github.rikvdkleij.intellij-haskell//lts-1

[2019-04-03 16:08] rikvdkleij commented on #406
Fixed in next beta.

[2019-04-03 16:10] rikvdkleij commented on #402
Next beta will fall back to default `cabal.config` if the one of project's resolver can not be downloaded.

[2019-04-03 16:11] develop7 commented on #324
OK, the issue's back, in beta45 on IDEA 2019.1

[2019-04-03 16:32] mouse07410 commented on #402
Thank you - appreciated!

May I ask to take `$HOME/.stack/global-project/stack.yaml` and `$HOME/.cabal/config` as the defaults, please? There is a reason why `cabal` and `stack` allow customizing their installations, and IMHO it is not proper for the plugin to drop it all and pull defaults from elsewhere. If those defaults worked OK for the user - he wouldn't need to customize those files in the f

[2019-04-03 17:08] develop7 opened #410 "Syntax check must treat dot and apostrophe as delimiters"
![image](https://user-images.githubusercontent.com/89889/55497210-8ece5900-5649-11e9-82a9-313e7e19c60a.png)

Same goes for `foo'barBazQux` — the `foo'bar` part gets underlined, the `BazQux` is not.

Expected: `Data.IO` syntax should be checked as two words, `Data` and `IO`. In case of `foo'bar`, it should be treated as `foo` and `bar`.

The issue reproduction rate is not 100%, sadly.

[2019-04-03 17:41] rikvdkleij commented on #410
Can you explain more?

[2019-04-03 17:44] rikvdkleij commented on #410
The PSI-tree of
`import Data.IORef`
is correct.

[2019-04-03 17:44] rikvdkleij commented on #410
I do not know where `Data.IO` comes from.

[2019-04-03 17:48] rikvdkleij commented on #410
Seems that the spellchecker is using camel case to parse the text.
I always disable the spellchecker for code and literals.

[2019-04-03 17:50] develop7 commented on #410
Updated issue description

it is to me as well!

well, I don't as I've actually found it quite useful

[2019-04-03 17:51] rikvdkleij commented on #402
I do not understand this remark. It has nothing to do with the `cabal.config` of this issue.

[2019-04-03 17:58] rikvdkleij commented on #410
There is also some hidden Java identifier "logic" hidden in IntelliJ where I do not get rid of.

I already spend so/too much time on it. See e.g. https://youtrack.jetbrains.com/issue/IDEA-204576

[2019-04-03 18:03] rikvdkleij commented on #324
Still only one Haskell file type....

[2019-04-03 18:04] rikvdkleij commented on #324
@develop7 Can you also check that there is only one Haskell file type.

[2019-04-03 18:11] develop7 commented on #410
Oh, so it's the upstream issue, got it. Totes fine. Thank you for your work.

Anyway let's leave this issue written down here for the bookkeeping purposes. Also, since this issue doesn't seem to be duplicate of https://youtrack.jetbrains.com/issue/IDEA-204576, do you want me to mirror this one for them?

[2019-04-03 18:13] develop7 commented on #324
Yep, it's only one. I've checked it first thing before reopening.

Funny thing though, the YAML file type is affected too. I'll go file an issue against it, and link here.

[2019-04-03 18:36] rikvdkleij commented on #410
Yes, that's right.

Yes, maybe they can help. Thanks!

[2019-04-03 19:50] mouse07410 commented on #402
I mean - when a new project is created via Intellij-Haskell, it appears to download `stack.yaml` and such from wherever it downloads the LTS itself. It would be nicer if it took the local `stack.yaml` found as `~/.stack/global-project/stack.yaml`.

[2019-04-03 20:10] mouse07410 opened #411 "Hoogle database still not available"
Somewhat similar to #372 , except it persists.
Tools are present:
[code]

"Rebuild the Hoogle database" appears to succeed - except it doesn't seem to load anything from remote sites like Hackage ("Messages" after "Menu->Tools->Haskell->(Re)Build Hoogle database"):
[code]

Generated DB describes functions I wrote, but not what's on Hackage/Stackage:
<img width="499" alt="Screen Shot 2019-04-03 at

[2019-04-04 04:51] rikvdkleij commented on #402
The plugin does not download `stack.yaml`

[2019-04-04 04:53] rikvdkleij commented on #402
This cabal.config is only used for code completion in cabal file (which I told you before).

[2019-04-04 10:31] mouse07410 commented on #402
You are right about cabal.config. I apologise.

Regarding stack.yaml - somehow when a new project is created, something places stack.yaml file there. I wonder what they entity is, and whether it should be a copy of "~/.stack/global-project/stack.yaml".

[2019-04-04 10:41] rikvdkleij commented on #402
That is from stack's default template for a new project.

[2019-04-04 10:57] rikvdkleij commented on #409
That GHC version is only used for building the tools. In next beta it will be 8.6.4.

[2019-04-04 11:34] mouse07410 commented on #402
I wonder if that can be a template on my local machine, which I could customize?

[2019-04-04 11:41] mouse07410 commented on #409
I wonder if the next beta could use whatever GHC it finds on the path. All of my machines *except for one* user ghc-8.6.4, but that one uses 8.6.3. My GHC installations are customized (that libiconv problem, about which I'm sure you've already heard more than you care to :), so I can't afford having the toolchain just download a version of GHC because it will fail to link at least some packages. S

[2019-04-06 08:11] Sir4ur0n commented on #407
Indeed it seems that unchecking everything but the Haskell options works like a charm. Thank you!

[2019-04-06 08:11] #407 closed

[2019-04-06 11:49] oderwat commented on #319
I also would like to have support for Brittany. But what I really really want may be support for using a script as formatter, since I want to build my own little tool chain for formatting.

[2019-04-09 13:30] Sir4ur0n opened #413 "Warning about prompt-cont"
I have customized many things including `prompt-cont` in my `~/.ghci` to have a better support for multi line edition in GHCI.

However this raises many warnings in Intellij haskell:
[code]

FWIW here's my `.ghci` file:
[code]

In turn, those warnings seem to break Intellij (cannot navigate to definition, etc.).

I found https://github.com/rikvdkleij/intellij-haskell/issues/212 but I was wondering

[2019-04-11 09:27] Sir4ur0n opened #414 "Extract variable/function"
Kind of similar (or subset of) #85 : it would be reaaaaaaaaaaally good to be able to extract variable/function.

These features are amazingly useful in Java development and would be, too, in Haskell.

Ideas:
* For function extraction (i.e. extract in a top-level function): an option to add signature or not
* For variable extraction (i.e. extract in a value/function in the current scope): an option

[2019-04-12 01:06] baracoder opened #415 "How to eable on NixOS? error: attribute 'ghc863' missing"
This might be a stupid question, but I am failing to set up this plugin on NixOS unstable.
It looks like the specific version of the compiler is not available. Has anyone got it working?
[code]

[2019-04-12 04:43] rikvdkleij commented on #415
My experience is that `—system-ghc` causes trouble with nix.

[2019-04-12 08:25] rikvdkleij commented on #414
I do not understand this remark, there is an option to add type signature to function but it depends on `-Wall`

[2019-04-12 08:30] rikvdkleij commented on #414
I think something is doable by selection an expression and extracting that to a function.

The biggest issue is that (what I already mentioned a couple of times in issues) is that the parser is not layout sensitive. So for example, a `where` clause is not identifiable.
cc @ice1000

[2019-04-12 08:36] rikvdkleij commented on #414
It is possible to make this a action which is always available when function has no type signature.

[2019-04-12 09:33] baracoder commented on #415
Thank you for the reply @rikvdkleij and sorry for not being more clear about the error: The error occurs if I select Update Haskell tools or Reload REPL. Is there a way to disable `--system-ghc` for that steps?
I can build the project itself without problems using `stack build`

[2019-04-12 09:35] rikvdkleij commented on #415
If the `stack.yaml` contains `nix: enable: true` then the plugin will not add `--system-ghc`

[2019-04-12 10:14] baracoder commented on #415
I have set `nix: enable: true` and the argument `--system-ghc` is gone from the command, but still the error is the same. I think `--compiler ghc-8.6.3` still selects this version, which is not in nixpkgs. I will try to update to the development version of the plugin, since it seams to reference 8.6.4, which is available, so this should work out.

[2019-04-12 11:22] Sir4ur0n commented on #414
This is not enough. This also provides a quickfix for top-level bindings. It doesn't provide a way to add type info on bindings inside `let` or `where` bindings. It also doesn't provide the feature for packages with configuration `-fno-warn-missing-signatures` (which is common for test package).

[code]

[2019-04-12 11:27] rikvdkleij commented on #414
That's not possible with the current parser.

[2019-04-12 12:28] rikvdkleij commented on #414
So, I think it is possible to select an expression and extract that to a function.

See
`com.intellij.refactoring.actions.ExtractMethodAction`
and
`com.intellij.refactoring.extractMethod.ExtractMethodHandler`

@Sir4ur0n Maybe you can implement this?

[2019-04-12 12:56] rikvdkleij commented on #405
Should be fixed in next beta.

[2019-04-12 13:04] rikvdkleij commented on #411
I guess this issue is solved in next beta.

[2019-04-12 16:48] Sir4ur0n commented on #414
Thanks for the pointers, I'll try to take a look in the coming days. I hope the Intellij API for method/variable extraction is better documented than test creation/navigation one 😢

[2019-04-12 16:58] ice1000 commented on #414
I have to say with the current parser, extract method refactoring is almost impossible. I hope I'm wrong and I'm looking forward to see a nice implementation.

[2019-04-12 17:57] rikvdkleij commented on #414
Sorry to say no, you have to look the code.

[2019-04-12 17:58] rikvdkleij commented on #414
I think it is only doable by selecting an expression.

[2019-04-13 17:04] Sir4ur0n commented on #414
It seems that part of the problem is: nothing is parsed as a PsiExpression by the parser. Everythin is just a PsiElement. `ExtractMethodHandler` expects the part being extracted to be a PsiExpression (which kind of makes sense). Any idea why the parser doesn't parse anything as a PsiExpression? Is it something that could be added/enhanced in the parser? No clue how the parsing bit works, sorry.

[2019-04-13 17:17] ice1000 commented on #414
`PsiExpression` is Java sepcific

[2019-04-13 17:19] ice1000 commented on #414
There's [HaskellExpression](https://github.com/rikvdkleij/intellij-haskell/blob/master/gen/intellij/haskell/psi/HaskellExpression.java)

[2019-04-13 22:50] Sir4ur0n commented on #413
I just tested Intero directly with my `.ghci` file. I do get a warning but it doesn't seem to break anything:
![image](https://user-images.githubusercontent.com/1204125/56086072-471cae00-5e4f-11e9-80b0-ba1413ddef30.png)

Maybe Intellij Haskell should ignore warnings? Or log them but not break?

[2019-04-14 08:50] rikvdkleij commented on #413
The issue is not your `.ghci` file but the confusing error message.

Plugin only shows this kind of error message when the REPL can not be started because a dependency could not be successfully build.

I will fix issue of the confusing error message.

[2019-04-14 20:59] Sir4ur0n commented on #413
Thanks, I'll wait for the next beta release to try this 😄

[2019-04-15 19:36] rikvdkleij commented on #415
Beta46 does not indicate compiler anymore for installing Haskell tools.

[2019-04-15 19:37] rikvdkleij commented on #409
Should be solved in beta46 (just released)

[2019-04-15 19:39] rikvdkleij commented on #404
Should be solved in beta46.

[2019-04-15 19:39] rikvdkleij commented on #408
Should be solved in beta46.

[2019-04-15 19:39] rikvdkleij commented on #406
Should be solved in beta46.

[2019-04-15 19:40] rikvdkleij commented on #398
Should be solved in beta46.

[2019-04-15 19:40] rikvdkleij commented on #413
Should be solved in beta46.

[2019-04-16 21:18] mouse07410 commented on #411
I think it is!! @rikvdkleij thank you!!

(Will re-open if it pops up again, in the meanwhile I'm very happy.)

[2019-04-16 21:24] mouse07410 commented on #409
Looks good so far, thanks!  I'll need more local testing before actually closing this.

Thanks again!

[2019-04-16 23:28] mouse07410 opened #417 "Intellij IDEA fails to upgrade to beta 46"
On one machine the update succeeded, and `beta 46` seems much better than the previous versions.

On all the other machines, this plugin is stuck at version `beta 43`, and I seem unable to force IDEA to update it.

If I don't want to rebuild the plugin from the source - where can I download it from?

Also, could the problem be related to the possible name mismatch? Here *module-name=*`IntelliJ Has

[2019-04-17 01:37] mouse07410 commented on #417
It looks like changing the "Custom plugin repositories" to `https://plugins.jetbrains.com/plugins/alpha` (dropping the tail `/8258`) resolved this problem, and made the plugin update to `beta 46` immediately.

[2019-04-17 01:37] #417 closed

[2019-04-17 02:07] mouse07410 commented on #411
Strange: for some Haskell-provided functions the plugin finds the documentation, but for, e.g., `Data.List` members it does not. Needless to say, this is after I did `(Re)Build Hoogle database`.

Here's the code in question (file `src/Lib.hs`):
[code]

Here's the good answer I get highlighting `takeWhile`:
<img width="394" alt="Screen Shot 2019-04-16 at 21 56 05" src="https://user-images.githubuse

[2019-04-17 13:46] hurricup opened #418 "java.lang.IllegalStateException: TextAttributeKey"
[code]

[2019-04-17 13:49] rikvdkleij commented on #418
You will have to uninstall HaskForce to use IntelliJ-Haskell.

[2019-04-17 16:48] hurricup commented on #418
This is not mine. Just got it in my perl plugin reporter. You should probably handle this somehow.

[2019-04-17 17:15] develop7 commented on #324
Okay, here goes [IDEA-211228](https://youtrack.jetbrains.com/issue/IDEA-211228)

[2019-04-17 18:20] rikvdkleij commented on #418
Take a look in the stacktrace, this issue has nothing to do with IntelliJ-Haskell.

[2019-04-17 18:20] #418 closed

[2019-04-17 18:22] rikvdkleij commented on #324
@develop7  Thanks!

[2019-04-17 20:44] ondrakrat commented on #403
Encountering the same error on Build #IC-191.6183.87

[2019-04-23 02:30] mouse07410 commented on #403
@ondrakrat one thing to check is making sure that Haskell Stack is set as SDK for the project, and other Haskell plugins were removed. I think this resolved my problem with inability to save the project config.

[2019-04-24 11:08] Sir4ur0n commented on #398
The behavior seems a lot better, however it's still weird/bugged for parenthesis.

Using the same example file as in my original issue:
* Put your cursor on string `Foo`
* Extend selection 3 times: it selects `"Foo")` (note the opening parenthesis is not selected!)
* Extend selection 1 time: it selects `("Foo")` as you would expect on the previous step.

I think after 3 selection extensions, it sh

[2019-04-24 11:09] Sir4ur0n commented on #413
Thank you!

[2019-04-24 11:09] #413 closed

[2019-04-24 11:37] Sir4ur0n commented on #406
Thank you!

[2019-04-24 11:37] #406 closed

[2019-04-24 11:38] Sir4ur0n commented on #404
I confirm it's fixed, I guess we can close this.

[2019-04-24 18:06] rikvdkleij commented on #404
@Sir4ur0n  Thanks!

[2019-04-24 18:06] #404 closed

[2019-04-28 18:40] mouse07410 commented on #409
I think it's fixed now, thanks!

[2019-04-28 18:40] #409 closed

[2019-04-28 18:42] mouse07410 commented on #411
https://github.com/rikvdkleij Do you have any idea what prevents some documentation from showing or from being retrieved? Any prediction on when it might be fixed?

[2019-05-01 02:29] enolive commented on #408
works fine now! Thanks

[2019-05-01 02:29] #408 closed

[2019-05-01 11:19] enolive opened #419 "Fatal IDE Error on IDEA 2019.1"
After upgrading to 2019.1, I noticed a reoccuring error reported by IDEA. The dialog says that the plugin is at fault, so I thought that I should report it here. As far as I can see, besides from the confusing report, there are no side effects in the IDE.

[code]

![image](https://user-images.githubusercontent.com/20992515/57015169-9d416d80-6c13-11e9-9f6b-177ecbd4023e.png)

[2019-05-05 17:07] mouse07410 commented on #411
@rikvdkleij ping?

[2019-05-06 14:54] develop7 commented on #324
Okay, I apologize: now it is on me and the GPaste tool which had "trim clipboard content" option set to On.

[2019-05-06 14:54] #324 closed

[2019-05-06 14:59] develop7 commented on #405
Confirming it is fixed, thanks!

[2019-05-06 15:16] develop7 opened #420 "Exception when typing a package name in build-depends stanza of .cabal file"
Repro: `stack new`; open `.cabal` file; position caret to the end of `base >= ...` line under the `library` → `build-depends`; <kbd>Enter</kbd>, <kbd>Shift</kbd><kbd>Tab</kbd>, <kbd>Space</kbd>, type `git`

Expected: a popup with the list of packages beginning with `git`, including `github`

Instead: no such popup, an exception instead.

<details><summary>Stack trace</summary>

[code]

</details>

[2019-05-06 17:20] dandoh opened #421 "Only do syntax highlight between /begin{code}.../end{code} for literate Haskell"
Is this easy to add give the current implementation of the plugin?

[2019-05-12 18:38] aberent opened #422 "New project creation failing with intero build errors"

[2019-05-12 18:53] aberent commented on #422
Here is what should have been in the description:

I create a new, empty, project with a project SDK of  Haskell Stack Tool (1.9.3), and I get lots of error messages about problems with intero. See below.

Once this happens I don't get the Haskell Error window, or error checking in the editor window.

12/05/19
19:35	Executing `/usr/local/bin/stack build intero` failed: /usr/local/bin/stack build i

[2019-05-12 19:58] aberent commented on #422
Now that I have investigated a bit more, it turns out that there is an easy workaround; change the resolver version in stack.yaml to lts-13.19 or earlier.

[2019-05-12 21:37] TimoMeijer commented on #422
The core of the issue is that intero does not allow for ghc-8.6.5 yet, which should be fixed soonTM

[2019-05-14 20:00] maciekc opened #423 "java.lang.NoSuchMethodError using autocompletion"
Intellij 2018.3
Intellij-Haskell 1.0.0-beta46
Windows 7

When I tried to use auto-completion for function name (CTRL + Space) I got the following stack trace exception:
java.lang.NoSuchMethodError: com.intellij.openapi.util.text.StringUtil.unescapeXmlEntities(Ljava/lang/String;)Ljava/lang/String;
	at intellij.haskell.editor.HaskellCompletionContributor.$anonfun$createLocalLookupElement$2(HaskellCo

[2019-05-15 11:09] rikvdkleij commented on #423
Can you try IntelliJ 2019.1?

[2019-05-15 12:16] rikvdkleij commented on #420
Yes, I also noticed that. Fixed it already locally.

[2019-05-15 12:27] rikvdkleij commented on #411
I will take a look soon.

[2019-05-15 13:03] develop7 commented on #420
Woo! Welcome back, man! :)

[2019-05-15 13:05] develop7 commented on #422
Now that https://github.com/chrisdone/intero/pull/619 has been merged, we should be good to go.

[2019-05-15 14:41] rikvdkleij commented on #420
Thanks @develop7

[2019-05-15 17:33] maciekc commented on #423
It works with IntelliJ 2019.1.
Problem resolved

[2019-05-15 17:33] #423 closed

[2019-05-17 14:12] rikvdkleij commented on #419
Thanks for reporting!

[2019-05-17 14:14] rikvdkleij commented on #419
I wonder how I can reproduce this issue because I do not expect that the method is called.

[2019-05-18 11:09] Eason0210 commented on #422
With the new release of intreo，it works well. Thanks @develop7

[2019-05-19 12:48] TimoMeijer commented on #422
For me it's still attempting to build intero-0.1.39, how would I get intellij-haskell to try and build intero-0.1.40?

[2019-05-19 13:01] rikvdkleij commented on #422
Try `stack update` in project's folder.

[2019-05-22 13:02] rikvdkleij commented on #169
Please reopen when it's still an issue.

[2019-05-22 13:02] #169 closed

[2019-05-22 13:07] rikvdkleij commented on #185
Fixed.

[2019-05-22 13:07] #185 closed

[2019-05-22 13:09] aryairani commented on #280
[threadDumps-freeze-20190520-095952-IC-191.7141.44.zip](https://github.com/rikvdkleij/intellij-haskell/files/3207482/threadDumps-freeze-20190520-095952-IC-191.7141.44.zip)

:)

[2019-05-22 13:14] rikvdkleij commented on #370
@yunti Sorry for the late response.

Took a quick look into the code but I can't remember where the problem is/was.

[2019-05-22 13:15] #386 closed

[2019-05-22 13:16] rikvdkleij commented on #381
Please reopen when it's still an issue.

[2019-05-22 13:16] #381 closed

[2019-05-22 13:17] rikvdkleij commented on #280
@aryairani  Thanks!

Are you using the latest version of plugin?

[2019-05-22 13:18] #393 closed

[2019-05-22 13:18] rikvdkleij commented on #384
Please reopen when it's still an issue.

[2019-05-22 13:18] #384 closed

[2019-05-22 13:18] rikvdkleij commented on #403
Please reopen when it's still an issue.

[2019-05-22 13:18] #403 closed

[2019-05-22 13:19] rikvdkleij commented on #385
Please reopen when it's still an issue.

[2019-05-22 13:19] #385 closed

[2019-05-22 13:20] rikvdkleij commented on #366
Please reopen when it's still an issue.

[2019-05-22 13:20] #366 closed

[2019-05-22 13:23] rikvdkleij commented on #410
@develop7
Still an issue?
Did you create a Jetbrains IntelliJ issue?

[2019-05-22 13:24] #325 closed

[2019-05-22 13:24] #327 closed

[2019-05-22 13:26] rikvdkleij commented on #357
Please reopen when it's still an issue.

[2019-05-22 13:26] #357 closed

[2019-05-22 13:26] rikvdkleij commented on #415
Please reopen when it's still an issue.

[2019-05-22 13:26] #415 closed

[2019-05-22 13:27] rikvdkleij commented on #273
Please reopen when it's still an issue.

[2019-05-22 13:27] #273 closed

[2019-05-22 13:27] rikvdkleij commented on #282
Please reopen when it's still an issue.

[2019-05-22 13:27] #282 closed

[2019-05-22 13:28] rikvdkleij commented on #249
Please reopen when it's still an issue.

[2019-05-22 13:28] #249 closed

[2019-05-22 13:28] rikvdkleij commented on #209
Please reopen when it's still an issue.

[2019-05-22 13:28] #209 closed

[2019-05-22 13:29] rikvdkleij commented on #214
Please reopen when it's still an issue.

[2019-05-22 13:29] #214 closed

[2019-05-22 13:30] rikvdkleij commented on #217
Please reopen when it's still an issue.

[2019-05-22 13:30] #217 closed

[2019-05-22 13:31] rikvdkleij commented on #224
Please reopen when it's still an issue.

[2019-05-22 13:31] #224 closed

[2019-05-22 13:31] rikvdkleij commented on #210
Please reopen when it's still an issue.

[2019-05-22 13:31] #210 closed

[2019-05-22 13:31] #167 closed

[2019-05-22 13:33] rikvdkleij commented on #165
I'm investigating to replace Intero by hsdev because hsdev is a better fit for IntelliJ plugin.

[2019-05-22 13:33] #165 closed

[2019-05-22 13:33] rikvdkleij commented on #376
Please reopen when it's still an issue.

[2019-05-22 13:33] #376 closed

[2019-05-22 13:35] rikvdkleij commented on #213
@solicode Do you still want to make a contribution?

[2019-05-22 13:36] rikvdkleij commented on #313
Please reopen when it's still an issue.

[2019-05-22 13:36] #313 closed

[2019-05-22 13:36] rikvdkleij commented on #261
Please reopen when it's still an issue.

[2019-05-22 13:36] #261 closed

[2019-05-22 13:36] rikvdkleij commented on #258
Please reopen when it's still an issue.

[2019-05-22 13:36] #258 closed

[2019-05-22 13:37] rikvdkleij commented on #241
Please reopen when it's still an issue.

[2019-05-22 13:37] #241 closed

[2019-05-22 13:38] rikvdkleij commented on #228
Please reopen when it's still an issue.

[2019-05-22 13:38] #228 closed

[2019-05-22 13:38] rikvdkleij commented on #235
Please reopen when it's still an issue.

[2019-05-22 13:38] #235 closed

[2019-05-22 13:38] rikvdkleij commented on #251
Please reopen when it's still an issue.

[2019-05-22 13:38] #251 closed

[2019-05-22 13:38] rikvdkleij commented on #240
Please reopen when it's still an issue.

[2019-05-22 13:38] #240 closed

[2019-05-22 13:39] rikvdkleij commented on #256
Please reopen when it's still an issue.

[2019-05-22 13:39] #256 closed

[2019-05-22 13:39] rikvdkleij commented on #294
Please reopen when it's still an issue.

[2019-05-22 13:40] #85 closed

[2019-05-22 13:43] rikvdkleij commented on #234
Please reopen when it's still an issue.

[2019-05-22 13:43] #234 closed

[2019-05-22 13:45] rikvdkleij commented on #379
@develop7 Is this issue solved?

[2019-05-22 13:46] rikvdkleij commented on #353
Please reopen when it's still an issue.

[2019-05-22 13:46] #353 closed

[2019-05-22 13:46] rikvdkleij commented on #320
Please reopen when it's still an issue.

[2019-05-22 13:46] #320 closed

[2019-05-22 13:49] rikvdkleij commented on #41
Sorry but I will not adapt the plugin to work with Idris.

[2019-05-22 13:49] #41 closed

[2019-05-22 13:55] rikvdkleij commented on #243
Well, it's approximation works pretty well :wink:

[2019-05-22 13:56] rikvdkleij commented on #419
@enolive Do you still have this issue?

[2019-05-22 13:57] rikvdkleij commented on #402
Please reopen when still an issue.

[2019-05-22 13:57] #402 closed

[2019-05-22 14:04] yunti commented on #370
@rikvdkleij no problem if it's anything like the intellij reasonml plugin then it probably uses modules which are only available in intellij and not pycharm, webstorm etc....

[2019-05-22 15:47] develop7 commented on #379
Actually it's still there. Just recently I've hacked `.idea/modules.xml` so the new subpackage would be picked up.

[2019-05-22 19:06] rikvdkleij commented on #379
Do you have an example project so I can try to reproduce it? Must be something unexpected in the `stack.yaml`.

[2019-05-22 19:11] develop7 commented on #379
Not really, it was that huge project on the job. Will try to reproduce the issue against the sample project bit later.

[2019-05-22 19:13] develop7 commented on #410
yes

nope, sorry

[2019-05-22 22:35] aryairani commented on #280
This last one is from beta46 if I'm not mistaken!

[2019-05-23 06:13] solicode commented on #213
Unfortunately I haven't been using Haskell lately. I'd like to get back into it, but it likely won't be for a while. When I do though, I'd like to revisit this feature (assuming nobody beats me to it by then).

If you'd like to close it for now, that's fine with me. I can re-open it whenever I return to Haskell.

[2019-05-23 12:43] rikvdkleij commented on #213
Ok, then I will close it for now.

[2019-05-23 12:43] #213 closed

[2019-05-23 14:33] batya239 opened #425 "ConfigFileWatcher produces a lot of threads and freezes IDEA while initial project indexing"
ConfigFileWatcher runs read task over unbounded (!) application thread pool executor (com.intellij.openapi.application.impl.ApplicationImpl#ourThreadExecutorsService). So if there are frequent updates in BulkFileListener, ConfigFileWatcher will create a several number of new threads (they are will not be killed in future). Additionally if initial project indexing in process all these threads are w

[2019-05-23 14:35] aryairani commented on #280
[threadDumps-freeze-20190523-102829-IU-182.3684.101.zip](https://github.com/rikvdkleij/intellij-haskell/files/3212697/threadDumps-freeze-20190523-102829-IU-182.3684.101.zip)

This one is for a different type of hang, if I'm not mistaken.  I wasn't really doing anything but browsing files while waiting for intero, etc to build.

[2019-05-23 14:39] aryairani commented on #280
Hm  I seem to be getting a repeating issue; I uncomment line 270 of Actions2.hs and the UI becomes unresponsive.  Not sure if coincidence, but that's what I had done just before the last 3 hangs in a row.

The first threadDumps is above, the second and third are below.

[threadDumps-freeze-20190523-103559-IU-182.3684.101.zip](https://github.com/rikvdkleij/intellij-haskell/files/3212719/threadDumps

[2019-05-23 14:56] rikvdkleij commented on #425
Thanks for reporting!

[2019-05-23 14:58] rikvdkleij commented on #280
Thanks again!

Will try to reproduce it but I can also remember that I could only reproduce your issues on a recent MacBook Pro.

[2019-05-23 15:13] rikvdkleij commented on #425
Hmm, weird, the logic does not have to be scheduled to run in a `ReadTask`.
I can completely remove the code which schedules the read task with `ProgressIndicatorUtils.scheduleWithWriteActionPriority(readTask)`

[2019-05-23 15:22] rikvdkleij commented on #425
Should be fixed in next version.

[2019-05-23 15:47] rikvdkleij commented on #280
The freeze of 20-5 was during project closing. The cause is clear.

[2019-05-23 19:06] aryairani commented on #280
Fwiw, the 20190523 zips are on my 2012 iMac.

[2019-05-23 20:16] rikvdkleij commented on #422
Seems to be working now.

[2019-05-23 20:16] #422 closed

[2019-05-25 00:54] aryairani opened #427 ""Couldn't resolve to any modules.""
I was trying to use "Organize Imports" to eliminate the redunant import (seen in the ghcid output in the terminal in the top-right).  It didn't do anything, and I wondered if it was related to this message in the log:

[code]
But in the project settings, we can see that it's part of the `unison-parser-typechecker` module.

This is in unisonweb/unison@2b9e8fb9b3db310e122f3f47cc33e43200cda76c.

![im

[2019-05-25 15:08] rikvdkleij commented on #427
Do you mean: `Optimize imports`?

No, if optimizing imports does not work, it's not related to that error of intero.

[2019-05-25 15:13] rikvdkleij commented on #427
Optimizing imports is done by GHC warnings and/or HLint suggestions. Have to investigate why it does not work (anymore).

Can also relate to this issue https://github.com/ndmitchell/hlint/issues/589. Still have to solve that properly.

[2019-05-27 09:51] rikvdkleij commented on #427
I can reproduce your issue with optimize imports.

For the time being you can also apply the HLint suggestion, that works (navigate to warning and apply suggestion with `alt`+`enter`.

[2019-05-29 02:34] mouse07410 commented on #411
Any luck finding the cause...?

[2019-06-02 10:54] enolive commented on #419
Yeah. Happy to know there is a workaround for this. Will test it with the next version of the plugin!

[2019-06-02 20:30] rikvdkleij commented on #411
Hmm, works for me on master.

[2019-06-03 00:23] mouse07410 commented on #411
Is master what's available as Beta? Because it doesn't work for me, as you can see from the screenshots above.

[2019-06-03 12:32] rikvdkleij commented on #427
Should be fixed in beta47.

[2019-06-03 12:33] rikvdkleij commented on #420
Should be fixed in beta47.

[2019-06-03 12:33] rikvdkleij commented on #419
Thanks!

Should be fixed in beta47.

[2019-06-03 12:34] rikvdkleij commented on #411
You try can try beta47.

[2019-06-03 12:37] rikvdkleij commented on #280
You can try beta47.

[2019-06-03 12:45] rikvdkleij commented on #280
Btw, did some quick tests with Unison project and works fine for me.

[2019-06-03 13:33] develop7 commented on #420
That did it, thanks!

[2019-06-03 13:33] #420 closed

[2019-06-03 18:06] mouse07410 commented on #411
Currently available is beta46, of Apr 29th. Hopefully beta47 would become available soon?

[2019-06-03 18:38] aryairani commented on #280
This is with beta47, was trying to use using Option-Enter to resolve a missing import at the time of the hang.

[threadDumps-freeze-20190603-143559-IC-191.7141.44-71sec.zip](https://github.com/rikvdkleij/intellij-haskell/files/3248977/threadDumps-freeze-20190603-143559-IC-191.7141.44-71sec.zip)

Thanks!

[2019-06-03 19:44] rikvdkleij commented on #411
Waiting for approvement of Jetbrains. Otherwise you can download the zip from here https://github.com/rikvdkleij/intellij-haskell/releases/tag/v1.0.0-beta47 and install manually.

[2019-06-03 20:09] rikvdkleij commented on #280
Thanks for reporting!

I think I found the cause....

[2019-06-04 12:54] rikvdkleij commented on #280
Released beta48. Also contains fix for intention action to add import which issue I found while testing with Unison.

[2019-06-04 14:28] aryairani commented on #280
Got it!

[2019-06-04 17:08] rikvdkleij commented on #411
Beta48 is approved by Jetbrains.

[2019-06-04 17:27] rikvdkleij commented on #280
Ok, I'm curious how it works out for you!

[2019-06-04 18:40] mouse07410 commented on #411
Thanks. Installed the beta-48 update. Somewhat different interface, nice, but this problem remains. I rebuilt the Hoogle database. Anything else that I should try to remedy this?

![Screen Shot 2019-06-04 at 2 38 22 PM](https://user-images.githubusercontent.com/5923577/58904966-acb24b80-86d6-11e9-9893-fb5dbb155db3.png)

Is there anything else that might help you help me? Maybe a zip of this projec

[2019-06-04 18:59] rikvdkleij commented on #411
Are you sure the Hoogle db is generated correctly?

Yes, that is okay.

Btw, in my local version I have removed `intero`. Currently doing some testing.
I will soon release a new beta which can be tested. Are you interested and do you want to test this version without `intero`?

[2019-06-04 19:05] rikvdkleij commented on #411
Hmm, wait, now I also have an issue with documentation but it's different than yours.

Do you see an message in the Event log which says something like:
[code]

In your case the documentation tool windows mention `Data.OldList` while it should mention `intercalate`.

[2019-06-04 19:29] rikvdkleij commented on #411
Works again for me. Issue was related to removing `intero`.

[2019-06-04 22:30] mouse07410 commented on #411
Here's the project:
[str3split.tar.gz](https://github.com/rikvdkleij/intellij-haskell/files/3254709/str3split.tar.gz)

I certainly am interested - though it depends on what you're replacing `intero` dependency with.

Well, it seems to claim that `intercalate` is in the `Data.OldList` module, and it has no documentation for it. Attempts to `import Data.OldList(intercalate)`, of course, failed.

[2019-06-04 23:38] mouse07410 commented on #411
On another machine, same update, same code, same symptoms. And an observation - `unwords` documentation was there, but look at the bottom of the popup:
![Screen Shot 2019-06-04 at 19 32 35 ](https://user-images.githubusercontent.com/5923577/58920440-36c2da00-8700-11e9-821c-e47294213d6d.png)

And here's how `unfoldr` doc fails:
![Screen Shot 2019-06-04 at 19 33 07 ](https://user-images.githubuserco

[2019-06-05 09:40] rikvdkleij commented on #411
Intero is removed, not replaced by something else. So the REPL/GHCi does not load intero anymore.

[2019-06-05 20:08] enolive commented on #419
so far, I did not encounter any additional IDE error. using 0.48 But for non-haskell projects, the haskell problems tool window is filled with clutter from other build tools such as gradle. Is this an intended behaviour?

I think I forgot to mention that the issue seems only to occur in non-haskell projects :scream:

![grafik](https://user-images.githubusercontent.com/20992515/58986709-4b759f80-87

[2019-06-05 21:28] mouse07410 commented on #411
Yes I'm certainly interested. Likewise, I'd be very interested in the ability to use pre-installed tools (e.g., `~/.local/bin/hlint` or `~/Library/Haskell/bin/hlint` - both directories on the PATH, BTW) instead of re-building these tools by the plugin).

[2019-06-06 09:05] rikvdkleij commented on #419
No, it's not intended behavior.

I did not notice this problem because in non-Haskell project I can not see the Haskell Problems view. How can I reproduce your issue?

[2019-06-06 09:08] rikvdkleij commented on #411
About the update. The versions are as expected because they equal to versions in latest LTS-13.

About the Hoogle documentation issue. I will change the implementation to get consistent output. For some reason the output with constraints on module name(s) does not always work as expected.

[2019-06-06 09:19] rikvdkleij commented on #411
Great!

The plugin needs this feature anyway when supporting Cabal projects (which is now doable because intero is removed). So then the plan is to add to Haskell settings a field which contains the path to folder which contains the Haskell tools binaries with the remark that building the tools not automatically can have the consequence that a feature of the plugin because tool API is not expected

[2019-06-06 10:52] rikvdkleij commented on #411
Btw, I really want to remove the extra Stack arguments (which I added for you because of intero) because it's a really ugly feature which is unmaintainable. If you don't mind I will remove it in the next version.

[2019-06-06 12:45] mouse07410 commented on #411
1. I doubt that my English is any better than yours, but I'll be happy to assist rewording the warning. Give me some time for that.

2. If I can tell the plug-in to use tools that reside in a specified directory (and but to attempt rebuilding them), I think it would suffice - therefore the extra Stack arguments may be removed. I'd expect that any invocation of Stack would respect the global config

[2019-06-06 16:00] aryairani commented on #280
Good morning!  This is with beta48 :)

[threadDumps-freeze-20190606-115823-IC-191.7141.44.zip](https://github.com/rikvdkleij/intellij-haskell/files/3262416/threadDumps-freeze-20190606-115823-IC-191.7141.44.zip)

[2019-06-06 18:08] rikvdkleij commented on #280
Good evening! :smile:

Well, I do not know what happened but this thread dump does not relate to the Haskell plugin. It can also in happen in general that a write action has to wait longer than 50 ms.

[2019-06-06 18:10] rikvdkleij commented on #427
@aryairani Can we close this issue?

[2019-06-06 18:19] rikvdkleij commented on #425
Can we close this issue?

[2019-06-06 19:10] aryairani commented on #427
Sure, I haven't encountered it since beta47.

[2019-06-06 19:10] #427 closed

[2019-06-06 19:10] aryairani commented on #280
Oops, okay :)

[2019-06-11 14:27] declension opened #430 "IDE dies preloading caches"
Hi! On several small-ish Haskell projects (that have been on `intellij-haskell` for some time) I am now experiencing out of memory errors whenever loading the project(s).

### Steps to replicate
 * Plugin `v1.0.0-beta48`
 * IDEA 2019.1.3 with a few other plugins
 * JRE 1.8
 * Stack 1.9.3, resolver lts-12.26 (but a few others too)
 * A smallish Hakyll project
 * Load the project
 * Wait for _Busy w

[2019-06-11 20:44] rikvdkleij commented on #430
Thanks for reporting!

Can you share the project so I can try to reproduce this issue?

[2019-06-12 20:03] enolive commented on #419
that's easy:

1. create a Gradle Project
2. add a Java class
3. break the build by producing some compile errors (for example, with my test case :wink:)
4. rebuild the projects (Ctrl+F9)
5. open the haskell tool window and see the gradle output in there

[code]

I assume that there are other ways to produce this error, but this is how I first realized it in a non-Haskell project (except with Groov

[2019-06-12 20:25] aryairani opened #431 "com.intellij.psi.PsiInvalidElementAccessException onContentReload (beta48)"
Not sure how to reproduce this, but thought you'd want to know.

I got it after doing a git pull updating from unisonweb/unison@71733380 to unisonweb/unison@c8afa50f while the project was open.

[code]

[2019-06-13 17:53] CSchank opened #433 "Hoogle database warning gives out of date menu location"
Running v1.0.0-beta48, an event came up in my log stating:
[code]

The menu option lists the old menu location, which caused momentary confusion, and should be fixed to reflect the new menu.

Also, out of curiosity, why was that menu option then greyed out when I went to the menu?

Best regards,
Chris

[2019-06-13 20:34] mouse07410 commented on #411
@rikvdkleij here's the vetted text. You can edit it more, but it's been approved by the native English speakers:
[code]

[2019-06-14 10:50] rikvdkleij commented on #411
@mouse07410 Thanks!

Btw, I will continue with development of plugin asap.

[2019-06-15 07:18] declension commented on #430
Hi. Sorry about the delay. It's a private project so I'm cloning / stripping, trying to find a more minimal repo that still breaks, will push it then!

[2019-06-15 07:54] declension commented on #430
@rikvdkleij create a minimal(ish) example repo: https://github.com/declension/intellij-haskell-430

[2019-06-16 13:10] michaelpeternell opened #434 ""The selected file is not a valid Stack binary""
In the "Select path to Stack binary" dialog I navigated to my "stack.exe" file, clicked it, and pressed the "OK" button. Then a dialog appeared which says "The selected file is not a valid Stack binary".

I opened a command line to check:

    D:\Dev\HaskellStack\bin>.\stack --version
    Version 1.9.3, Git revision 40cf7b37526b86d1676da82167ea8758a854953b (6211 commits) x86_64 hpack-0.31.1

    D

[2019-06-16 13:49] michaelpeternell opened #435 "Java Exceptions thrown in Windows 10"
first exception:

    java.lang.RuntimeException: Could not create directory `C:\Users\michael\AppData\Local\rikvdkleij\intellij-haskell\cache`
      at intellij.haskell.util.HaskellFileUtil$.createDirectoryIfNotExists(HaskellFileUtil.scala:265)
      at intellij.haskell.GlobalInfo$.getIntelliJHaskellDirectory(GlobalInfo.scala:24)
      at intellij.haskell.GlobalInfo$.getLibrarySourcesPath(GlobalI

[2019-06-16 17:01] AlainODea opened #436 "Quick documentation for (+) shows documentation for (++)"
If I have the following code:
[code]

And I place my caret before the `+` and click View > Quick Documentation (or hit F1 on macOS or Ctrl-Q on Windows/Linux) I get the following popup:

Here's a screenshot of the behaviour:
![Quick documentation for (+) shows documentation for (++)](https://user-images.githubusercontent.com/16341/59566524-1407be00-903c-11e9-9613-b158e605be89.png)

I tried to foll

[2019-06-16 17:11] AlainODea commented on #436
The problem is something in how HoogleComponent encodes the arguments for the hoogle command. It seems like searching for `+` literally in hoogle on the CLI also does not work.

Literally running this command brings up the documentation for (++):
[code]

It looks like the bug is in hoogle. I'll see how to encode + to work around this.

[2019-06-16 18:46] AlainODea commented on #436
Show Type (Option-Command-P) correctly shows `(+) :: Num a => a -> a -> a`.

The Edit Source (Command-Down Arrow) option in the gear menu on the quick documentation popup works as expected: it takes me to GHC.Num to the line where (+) is defined. This appears to be isolated to how the Hoogle CLI handles an undocumented element. Excluding +Prelude from the query correctly returns no docs, but isn't

[2019-06-17 05:08] rikvdkleij commented on #434
Plugin should work on Windows but I did not test that for a while.

Which version of plugin do you use?

@Sir4ur0n do you also have this issue? AFAIK you also work on Windows

[2019-06-17 08:43] Sir4ur0n commented on #434
Hey,

I confirm it works fine on Windows 10. I don't think I ever had this issue O_o
@michaelpeternell would you mind try to reinstall Stack, just to be sure? And how did you install it? From the 64 bit installer provided at https://docs.haskellstack.org/en/stable/README/ ?

Cheers

[2019-06-17 08:45] Sir4ur0n opened #438 "Support Stack 2"
Stack 2 just got released. I upgraded on my Windows Machine (`stack upgrade`) but now Intellij Haskell seems broken. I don't have access to it right now, but can someone else try and report please? I feel like some changes will be needed (too afraid to upgrade Stack on my work machine because of this).

[2019-06-17 10:33] rikvdkleij commented on #438
What kind of error that you get?

[2019-06-17 10:38] rikvdkleij commented on #438
In my local version in which I have removed intero everything works okay.

So I installed beta48 and noticed that the global REPL does not want to startup anymore. Looks like an issue in the combination of stack and intero.

[2019-06-17 10:59] rikvdkleij commented on #438
Hmm, `stack build intero` does nothing on LTS-13.25. Can also be some other issue....

[2019-06-17 11:01] rikvdkleij commented on #438
It's a bug in stack 2.

When I do `stack build intero` with stack 1.9.3 the build just works.

[2019-06-17 11:10] rikvdkleij commented on #438
I do not what is going in stack 2 but it can also not find intero when it's build..

[code]

[2019-06-17 11:12] rikvdkleij commented on #438
I think I have to speed up a new release without intero.

[2019-06-17 14:31] declension commented on #430
Update: same problem, on a similar project (uses resolver `lts-13.7`) at work (colleague's machine)

Plugin: `beta48`
Stack `2.1.1`

But then same project (exactly) on _my_ work machine:
Plugin: `beta46`
Stack `2.1.1` (and `1.9.3` previously)
seems to have _different_ problems (_Stack REPL could not be started within 30 seconds_...)

Does that help? :thinking:

[2019-06-17 15:29] rikvdkleij commented on #430
Plugin: beta46
Stack 2.1.1 (and 1.9.3 previously)
seems to have different problems (Stack REPL could not be started within 30 seconds...)

See https://github.com/rikvdkleij/intellij-haskell/issues/438

[2019-06-17 15:29] rikvdkleij commented on #430
Thanks for your minimal example. I will take a look asap.

[2019-06-17 17:42] rikvdkleij commented on #433
Should be fixed in next beta.

It's available when project is not initializing, hoogle binary is available and project is not building in the background.

[2019-06-17 17:59] rikvdkleij commented on #431
Thanks for reporting! Changed some code to prevent this kind of errors.

[2019-06-17 18:10] michaelpeternell commented on #434
I just found the stack installer in my downloads folder: stack-1.9.3-windows-x86_64-installer.exe
I don't know exactly where I downloaded it, but I know that I went to www.stackage.org and followed some links, a few weeks ago. For the intellij-haskell version: I downloaded and installed intellij yesterday, because I've read that it has a haskell plugin. The plugin is IntelliJ-Haskell v1.0.0-beta48

[2019-06-17 19:16] Sir4ur0n commented on #438
Just reproduced on my Windows machine:
[code]

[2019-06-17 21:20] aryairani commented on #431
Thanks.  Should I close the issue?

[2019-06-18 07:25] rikvdkleij commented on #430
Should be fixed in beta49, https://github.com/rikvdkleij/intellij-haskell/releases/tag/v1.0.0-beta49

[2019-06-18 07:26] rikvdkleij commented on #438
Just released beta49 which does not depend on intero anymore, https://github.com/rikvdkleij/intellij-haskell/releases/tag/v1.0.0-beta49

[2019-06-18 07:30] rikvdkleij commented on #436
Your fix is released in beta49, https://github.com/rikvdkleij/intellij-haskell/releases/tag/v1.0.0-beta49

[2019-06-18 07:31] rikvdkleij commented on #434
@michaelpeternell You can try beta49, https://github.com/rikvdkleij/intellij-haskell/releases/tag/v1.0.0-beta49

[2019-06-18 07:31] #425 closed

[2019-06-18 07:32] rikvdkleij commented on #419
Hopefully fixed in beta49 :smile:

[2019-06-18 07:35] rikvdkleij commented on #411
Should be fixed in beta49, https://github.com/rikvdkleij/intellij-haskell/releases/tag/v1.0.0-beta49.

It does not yet contain the new setting with own Haskell tools folder. Had to release asap because of issue #438

[2019-06-18 07:36] rikvdkleij commented on #431
Should be fixed in  beta49, https://github.com/rikvdkleij/intellij-haskell/releases/tag/v1.0.0-beta49

Yep, you can always reopen it if this issue still occurs.

[2019-06-18 08:44] mouse07410 commented on #411
Understood, thanks!

From your experience, how fast does Jetbrains make the updates available? A couple of days? A week? Longer?

[2019-06-18 09:24] rikvdkleij commented on #411
You can install new version by downloading the zip and installing from disk inside IntelliJ.

Each time differently, so I have no idea this time.

[2019-06-18 09:56] rikvdkleij commented on #411
It's been approved!

[2019-06-18 12:29] declension commented on #430
This is great - solved the problem for my colleague (combined with Stack downgrade) and looks fine on this work machine. I'll check soonish on my home codebase & machine

Thanks @rikvdkleij !

[2019-06-18 12:48] rikvdkleij commented on #430
Great to hear!

You do not need to downgrade stack because in beta49 intero is not used anymore.

[2019-06-18 14:01] AlainODea commented on #436
Thank you!

[2019-06-18 15:33] mouse07410 commented on #411
Wow! JetBrains must have heard us. And it works! Thank you!!

Looking forward for the new settings now.

I wonder if it would be possible to have not one but multiple directories allowed, so that, e.g., I could use tools in both `~/.local/bin/` and `~/.cabal/bin/` (and maybe in `~/.ghcup/bin/`).

[2019-06-18 19:30] declension opened #439 "Improve error / log messages"
Hi. Thanks again for your hard work on such a great plugin.

I've noticed some of the error / log / IDE user messages feel a bit weird or unfriendly (to a native speaker at least). Some examples...

### Non-idiomatic English

Nothing wrong - but it sounds a bit odd (IMO)

Again - fine, but we could maybe make a clearer message here..

_Busy with x_ sounds weird - just _Busy x_ sounds better

### E

[2019-06-18 19:43] rikvdkleij commented on #439
That would be great! Let me know if I can help with providing some context of the message.

[2019-06-18 19:49] declension commented on #430
Great! I've upgraded again, and can confirm on both machines, beta49 is working well! Thanks for a speedy fix :rocket:

PS: docs still mention Intero quite a lot BTW

[2019-06-18 19:49] #430 closed

[2019-06-18 19:50] #439 closed

[2019-06-19 18:32] cederber opened #441 "Quick Documentation finding some but not all Haddock"
View > Quick Documentation (keyboard shortcut F1 on OS X) can find some (but not all) third-party Haddock and I haven't seen it find any Haddock from the current project.

This is with IntelliJ-Haskell v1.0.0-beta49 on IntelliJ IDEA 2019.1.3 Community Edition, macOS Mojave 10.14.5.

Appreciate any insight you have into this--attaching screenshots below.

Thanks for the great plugin!

Failed lookup

[2019-06-20 09:22] aberent opened #442 "No result from Stack REPL within 30 seconds. Command was: :show modules"
I recently upgraded to v1.0.0-beta49. Since I did:

- Finding Haskell problems when the source is modified is taking around a minute, even if the code and changes are trivial
- If there are Haskell problems in my source I get messages in the event log saying  "No result from Stack REPL within 30 seconds. Command was: :show modules"

I have tested this with a trivial project containing just the sou

[2019-06-20 14:18] rikvdkleij commented on #430
Removed the references to intero.

[2019-06-20 14:27] michaelpeternell commented on #434
@rikvdkleij : yes, it works now :)

[2019-06-20 14:31] rikvdkleij commented on #434
Great!

[2019-06-20 14:31] michaelpeternell commented on #442
I had the same error message. For me: system was Windows 10, stack version 1.9.3

[2019-06-20 15:04] rikvdkleij commented on #442
If there are Haskell problems in my source I get messages in the event log saying "No result from Stack REPL within 30 seconds. Command was: :show modules"

I guess those two are related.

I will try to reproduce this issue.

[2019-06-20 15:31] rikvdkleij commented on #442
It's fixed in beta50, https://github.com/rikvdkleij/intellij-haskell/releases/tag/v1.0.0-beta50

Thanks for reporting!

[2019-06-20 15:36] rikvdkleij commented on #441
Thanks for reporting!

[2019-06-20 15:55] rikvdkleij commented on #441
I can not reproduce this issue.
For example, the documentation lookup for `withObject` works for me.

Maybe a Rebuild Hoogle database helps?
(See Haskell main menu)

[2019-06-20 17:17] aberent commented on #442
Many thanks, I can confirm that everything is back to normal.

[2019-06-20 17:17] #442 closed

[2019-06-20 17:46] mnn opened #443 "Focus stealing"
When code is not valid, occasionally "Messages" dock opens/closes and often "Project" dock ends up having focus. In some instance this starts happenning every few keystrokes. Maybe related to #273? I even once ended up deleting one module, because I was writing, didn't notice focus got stolen and I hit <kbd>del</kbd> followed by <kbd>enter</kbd>. I am glad IDEA keeps history of deleted files...

I

[2019-06-20 18:23] rikvdkleij commented on #443
Thanks for reporting!

This issue is fixed in the recently released beta50 (issue was introduced by replacing intero with vanilla ghci).

About the focus stealing. When your Lib module has changes and you navigate to Main module (in exe target), the plugin will rebuild the library code (because of the changes) The exe code runs in different REPL than the library code. So to make the library change

[2019-06-20 19:13] cederber commented on #441
Thanks for taking a look!

Indeed, after a "Rebuild Hoogle database" I'm able to view Haddock from library packages. Regarding project-local Haddock, it appears that documentation only gets indexed for symbols that are exported by the module, which makes sense but I hadn't realized.

Overall seems to be working now. Closing this issue.

[2019-06-20 19:13] #441 closed

[2019-06-20 19:54] mnn commented on #443
Oh, I didn't even know there is a Haskell Problems View :sweat_smile:. It sounds like a good idea. I agree it should be emphasized in README and maybe later consider coming up with some way how to present a user with that View naturally, e.g. by automatically opening it when IDEA is launched for a first time with plugin installed (or maybe after creating new Haskell project)?

I know this issue ha

[2019-06-21 08:53] rikvdkleij commented on #435
Can this issue be closed?

[2019-06-21 10:16] rikvdkleij commented on #443
Released beta51, https://github.com/rikvdkleij/intellij-haskell/releases/edit/v1.0.0-beta51

Also uploaded to Jetbrains plugin repo but it can take some time before they approve.

I'm curious how you experience beta51 :smile:

[2019-06-21 10:18] #436 closed

[2019-06-21 10:18] #434 closed

[2019-06-21 10:18] #431 closed

[2019-06-21 10:19] #438 closed

[2019-06-21 10:19] #433 closed

[2019-06-21 10:19] rikvdkleij commented on #435
Please reopen if still an issue.

[2019-06-21 10:19] #435 closed

[2019-06-27 21:25] breandan opened #444 "Could not create directory"
Running IntelliJ-Haskell 1.1.0 Beta 51 on
[code]

I encountered the following error:

[code]

[2019-06-28 17:50] rikvdkleij commented on #444
Error message is clear. Check file system permissions.

Can you check if the directory/directories are really not created?

[2019-07-04 14:15] develop7 opened #445 "Quasiquotes' content should be subject to "Inject language or reference" intent"
The user should be able to inject language or reference against quasiquote content the way he is able doing so for regular string:

![image](https://user-images.githubusercontent.com/89889/60672975-54aa6880-9e7f-11e9-8f3a-7225a7b9a546.png)

[2019-07-04 23:30] aryairani commented on #280
[threadDumps-freeze-20190704-192651-IC-191.7141.44.zip](https://github.com/rikvdkleij/intellij-haskell/files/3360646/threadDumps-freeze-20190704-192651-IC-191.7141.44.zip)

If I had to guess, this one might have been related to Stylish-Haskell?

[2019-07-05 03:48] friedbrice opened #446 "Tool installation fails because `system-ghc` is configured for dynamic linking."
On loading a stack project, the plugin attempts to install tools, when I get the following error:

[code]
The error arises because my system GHC is configured for dynamic linking, so the dynamic versions of all the needed libraries are registered, but Stack expects the (default) static libraries to be registered. The fix is either to (1) remove the `system-ghc` option from the Stack invocation so

[2019-07-05 16:58] aryairani opened #447 "unexpected exception after creating Haskell module"
Not sure on this one, and not sure where to look for logs; there was no thread dump for it.  Let me know if I should look somewhere else for more info.
It did successfully create the module though.

[code]

[2019-07-05 20:11] rikvdkleij commented on #447
It looks like you have to uninstall Haskforce.

[2019-07-06 00:40] aryairani commented on #447
Oops, will do!

[2019-07-06 00:40] #447 closed

[2019-07-06 15:19] rikvdkleij commented on #445
@ice1000 Can you solve this issue?

[2019-07-06 15:20] rikvdkleij commented on #444
@breandan Is this still an issue?

[2019-07-06 15:21] rikvdkleij commented on #443
@mnn  Can this issue be closed?

[2019-07-06 15:21] rikvdkleij commented on #419
@enolive Is it fixed?

[2019-07-06 15:26] rikvdkleij commented on #411
To keep it simple it will be one directory. You can always create symbolic links.

No, that's a project on it's own. I think it's doable but it is a lot of work and investigation.
See also https://github.com/rikvdkleij/intellij-haskell/issues/105

[2019-07-06 15:43] rikvdkleij commented on #446
The `system-ghc` option is set to `true` to prevent downloading and installing GHC (again) when a correct version is already available.
I can create a setting by which it can be set to false.

Other solution is to add setting which contains directory to Haskell tools. So user can build Haskell tools as he wants and those will be used by plugin. I will implement his soon because it is already clear

[2019-07-06 15:45] rikvdkleij commented on #446
See https://github.com/rikvdkleij/intellij-haskell/issues/375 and also "hidden" in https://github.com/rikvdkleij/intellij-haskell/issues/411

[2019-07-06 16:58] friedbrice commented on #446
Thank you for taking the time to look at my issue. A boolean option to
control `system-ghc` would be the most straightforward thing from my
perspective as a user.

On Sat, Jul 6, 2019, 8:43 AM Rik <notifications@github.com> wrote:

[2019-07-06 19:32] mnn commented on #443
Sorry, totally forgot about this ticket. Just tested in beta51 and it works flawlessly, good job. :slightly_smiling_face:

[2019-07-06 19:32] #443 closed

[2019-07-06 23:44] romatthe commented on #294
I know this is an old issue, but I'm having the exact same issue, also while trying to edit my Xmonad configuration through Intellij-Haskell. The stack trace seems to be the exact same one as jereksel had over a year ago with beta-25.

This looks like a very reproducible issue.

I'm using
Intellij Community 2019.1.3
Intellij-Haskell: beta-51

[2019-07-07 01:38] ice1000 commented on #445
Could you please give me some pseudo-code on how the injection rule should be implemented? Like does the words between `[` and `|` matter?

[2019-07-07 01:39] ice1000 commented on #445
And should the injection be automatic (like RegEx stuffs in Java), which disables you to customize your own injection?

[2019-07-07 09:55] develop7 commented on #445
No. Not at first, that is.

Again, not at first. Let's start with that lightbulb to show up.

[2019-07-07 15:43] enolive commented on #419
@rikvdkleij yeah, it is! Thanks for your work!

[2019-07-07 15:43] #419 closed

[2019-07-07 17:32] rikvdkleij commented on #280
Thanks for reporting!

In the thread dumps I see nothing that relates to a problem with the plugin.

[2019-07-07 17:58] rikvdkleij commented on #294
It's fixed in next beta.

Notice that the `xmonad-contrib` project is using LTS 7 which is not supported (anymore). Only GHC 8.2 and later is supported.

[2019-07-07 18:00] aryairani commented on #280
Sorry, thanks for taking a look

[2019-07-07 18:09] rikvdkleij commented on #421
Currently literate Haskell is not supported.

[2019-07-07 18:23] rikvdkleij commented on #356
Could be "manual" fixed when parser is improved.
cc @ice1000

[2019-07-07 19:13] ice1000 commented on #445
So it's the part between two `|` matters, right?

[2019-07-07 21:34] develop7 commented on #445
@ice1000 ya, the literal, being the subject for language embedding, is between the leftmost and rightmost `|`s. However, whole *expression* is enclosed between `[` and `]` (we might want to have whole expression lightbulb-enabled, not just the string).

Actually GHC manual knows more on the subject than me — https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/glasgow_exts.html#extensio

[2019-07-08 18:48] enolive opened #448 "Create a new project from another template?"
It seems that the plugin runs `stack new` with a hard-wired template (I guess `simple`)

So my question is if there is a chance to override the template somehow as I would do on the CLI by entering 'stack new $TEMPLATE-URL`.

Use case: I created my own opionated haskell mustache file mainly focused on doing TDD. It would be great to create an own project directly from the IDE.

[2019-07-09 04:10] dandoh opened #449 "Editor > Code Style > Haskell loading forever"
OS: Mac OS
Step to reproduce:
- Install latest intellj-haskell
- Open Setting > Editor > Code Style > Haskell
![image](https://user-images.githubusercontent.com/10379980/60858795-e0085e80-a1dd-11e9-81b5-5f41bcf8fd0c.png)

[2019-07-09 13:47] c4dr01d opened #450 "Cannot add Haskell Stack SDK"
I installed the stack only at my windows pc, than I configure Haskell SDK, the idea says: is not invalid stack binary.
I don't know why.

[2019-07-09 18:25] rikvdkleij commented on #450
Can you describe what you did?

[2019-07-09 18:28] c4dr01d commented on #450
@rikvdkleij
1. Creating a new project
2. Configure Haskell SDK
3. Choose Stack binary executable.
After the idea report invalid stack binary error

[2019-07-09 18:53] rikvdkleij commented on #450
Weird, the plugin checks trivial things like:
 - name contains `stack`
 - is not a directory
- stack it's version can be retrieved by option `--numberic-version`

[2019-07-09 19:10] c4dr01d commented on #450
@rikvdkleij  the idea is report --numberic-version options error

[2019-07-09 19:12] rikvdkleij commented on #450
Sorry, I mean, this command works:
`stack --numeric-version`

[2019-07-09 19:15] c4dr01d commented on #450
@rikvdkleij  emm, ok. I will post the idea log at 7 O'clock, maybe can help to solve this problem.

[2019-07-09 19:42] rikvdkleij commented on #449
Thanks for reporting!

I can reproduce this issue.

[2019-07-09 19:49] rikvdkleij commented on #448
The most simple solution is to create an extra Haskell Setting which contains name of template and it's by default `new-template`

[2019-07-09 23:36] c4dr01d commented on #450
@rikvdkleij  This is error copied form idea log:
The selected file is not valid a stack binary.

[2019-07-10 06:01] rikvdkleij commented on #450
I do not see a idea log.

[2019-07-10 06:04] c4dr01d commented on #450
@rikvdkleij  The log just one line: The selected file is not valid a stack binary.
Others is running normally.

[2019-07-10 06:06] rikvdkleij commented on #450
@Sir4ur0n Do you also have this on Windows?

[2019-07-10 21:24] enolive commented on #448
How do I do that?

You don't mean a default-template setting in the `$HOME/.stack/config.yaml`, do you? Because that won't work.

[code]

[2019-07-11 04:27] rikvdkleij commented on #448
Sorry, I mean that this solution has to be implemented in plugin. The name of the template will be passed to `stack new` command.

[2019-07-15 16:52] dandoh opened #451 "[Feature] Added an intention that generates a type annotation for un-annotated functions"
Repeat #224.
The latest [intellj-elm](https://github.com/klazuka/intellij-elm/releases) has this feature, and I think it would be nice for intellj-haskell to have this too.

[2019-07-15 18:49] rikvdkleij commented on #450
In which folder did you install stack?

[2019-07-15 21:12] mouse07410 commented on #446
@rikvdkleij it looks like there are use cases for passing options to Stack. Perhaps you'd want to re-instate it.

I personally would much prefer if the plugin could be taught to use what's already installed, rather than trying to re-install/re-build tools from scratch. Reverting "system-ghc" setting that user deliberately put in (most likely - for a reason that shouldn't be up to us to debate) doe

[2019-07-15 21:29] friedbrice commented on #446
@mouse07410

[2019-07-15 22:21] c4dr01d commented on #450
@rikvdkleij  D:\Stack

[2019-07-15 22:42] mouse07410 commented on #446
Certainly it is:
[code]

[2019-07-16 09:01] Sir4ur0n commented on #450
I'm in holidays and don't have access to my Windows machine, I can test in a few weeks if you're still interested

[2019-07-16 09:05] c4dr01d commented on #450
@Sir4ur0n You stack.exe can identify by plugin?

[2019-07-16 17:02] mnn opened #452 ""Reformat Code" action breaks working code (ViewPatterns)"
I have a following code (uses Yesod library):

[code]
which requires
[code]
After "Reformat code" action this lang. extension disappears thus breaks the code. I guess TH and/or QuasiQuotes in combination with ViewPatterns are a problem. This workaround works:

[code]

While I don't think this plugin does the formatting, I don't know where else to post (I don't know what tool is responsible for for

[2019-07-16 18:42] rikvdkleij commented on #452
Reformatting in the plugin is done by `hindent` first (and then by `stylish-haskell`). I guess `hindent` is responsible for breaking the code.

[2019-07-16 18:46] rikvdkleij commented on #451
So you want support even when GHC does not give suggestions? So without `-Wall`

[2019-07-16 18:50] rikvdkleij commented on #450
@c4dr01d I have some idea which could fix this issue. I will let you know when a new version is available so you can test if it works for you.

[2019-07-16 19:02] dandoh commented on #451
No, just the normal one like GHC with `-Wall`, I think mostly people need it for top-level functions.
The things is that there are lots of bad old codes without annotations for top-level functions, I have to `Haskell.showType` to find out their type and annotate them myself. So it would be useful to have the intention for this.

[2019-07-16 19:02] rikvdkleij commented on #446
For that I will add setting to select folder which contains Haskell tool binaries.

@friedbrice
So I will add a setting switch which enables passing `--ghc-options -dynamic`  to the stack command which builds the Haskell tools?

[2019-07-16 19:04] rikvdkleij commented on #451
Hmm, when `-Wall` is enabled you should see the intentions to add type signatures to top-level functions.

[2019-07-16 19:36] rikvdkleij commented on #446
Now I wonder what to do with `system-ghc`. It's always enabled for building Haskell tools and `nix` is not enabled. Can `system-ghc` be enabled together with dynamic linking?

Maybe it better to keep it simple and build the Haskell tools the way you want outside the plugin.

[2019-07-16 19:58] dandoh commented on #451
You mean if I do this, I'll see the intentions if the signature is missing?:
![image](https://user-images.githubusercontent.com/10379980/61325328-793d0380-a7e2-11e9-9d1a-80d5bb7316cc.png)
I tried but doesn't seem to work.

[2019-07-16 19:59] rikvdkleij commented on #451
No, in your project's cabal file.

[2019-07-16 20:05] dandoh commented on #451
Oh you're right. I added this to package.yaml and it works
[code]
But do you think it should be the default behavior?

[2019-07-16 20:05] #451 closed

[2019-07-16 20:08] friedbrice commented on #446
@rikvdkleij What is gained by using `--system-ghc` when building tools? Wouldn't the simplest, most reliable solution be let Stack pick and download the right GHC based on the resolver?

[2019-07-16 20:09] mouse07410 commented on #446
I personally need it, because that's how my boxes are set up - and the last thing I need is the plugin to argue with my box/system settings. Others might or might not share my preferences.

I'm pretty sure it can... But you cannot just pass it to `stack` (you can see - doesn't work with `-dynamic`, works fine without it):
[code]

This is what I've been advocating for and requesting for all this ti

[2019-07-16 20:11] friedbrice commented on #446
I'm happy with building my own tools, as long as there's documentation on how to make intellij-haskell aware of them.

[2019-07-16 20:44] mouse07410 commented on #446
I don't really care what the defaults are - whatever's convenient for whoever is fine with me.
What I do care for is a clean obvious option for the `intellij-haskell` to **not** build its own tools.

[2019-07-16 22:15] c4dr01d commented on #450
@rikvdkleij  Thanks

[2019-07-17 05:38] rikvdkleij commented on #446
I want to prevent downloading and installing GHC (again) when it's already available.

[2019-07-17 16:39] asimaranov commented on #444
I have stumbled upon the same issue. Looks like the plugin is trying to create the cache directory even though it already exists
[code]

[2019-07-17 16:47] asimaranov commented on #444
The problem was in the readonly cache directory
![image](https://user-images.githubusercontent.com/25568730/61394335-897cdd80-a8cb-11e9-8255-51395e678ba3.png)

[2019-07-17 18:07] rikvdkleij commented on #444
@asimaranov Thanks for the info! Looks like a concurrency issue.

[2019-07-18 13:21] asimaranov opened #453 "Readonly dirs"
![tempsnip](https://user-images.githubusercontent.com/25568730/61460126-c94ccf00-a976-11e9-94ac-a56041b8f5fa.png)
The plugin creates readonly directories and gets stucked while trying to write to them

[2019-07-18 18:32] rikvdkleij commented on #453
No, the `lts-13` directory is created by stack.

[2019-07-19 02:29] friedbrice commented on #446
Does this suit your needs, @mouse07410? https://github.com/rikvdkleij/intellij-haskell/pull/454

[2019-07-19 02:41] mouse07410 commented on #446
It should - but I'd like to understand better what exactly is the meaning of "Build tools using system GHC", i.e., what are the "tools" being built.

Because not only do I not want to re-download the GHC itself - but also to avoid re-building `hindent` and such, if I already built them myself.

It looks like your patch does allow to configure path for each of those executables, so what's the meani

[2019-07-19 03:15] friedbrice commented on #446
The "Build..." checkbox will only apply for any of the four tools for which you _don't_ specify a path. For example, if you don't specify a path for `hindent`, then `intellij-haskell` will build it, and it'll honor your preference for `system-ghc` based on the "Build..." checkbox.

[2019-07-19 03:15] friedbrice commented on #446
If you specify all four paths, then it won't build anything (except your project, of course)

[2019-07-19 10:17] mouse07410 commented on #446
I'd say this would be perfect.

[2019-07-20 16:35] Sir4ur0n opened #455 "Start fails on Nixos"
Hi,

I just recently started using Nixos and tested my workflow with Intellij and Haskell on it.
When importing for the first time a Haskell project in Intellij, it installs many tools using this command:
[code]
However this fails as it requires Zlib which requires special Stack integration.
The command is successful if I manually type it in a terminal and add `--nix-packages "zlib"` option to it:

[2019-07-20 17:08] friedbrice commented on #455
I think your configuration is correct; I think the problem might be an oversight in the tools-creation logic. As a stopgap, you could use a feature coming in the next release that will allow you to build your tools separately and specify their paths directly in the plugin options.

[2019-07-20 17:09] friedbrice commented on #455
Here's the PR if you'd like to follow it: https://github.com/rikvdkleij/intellij-haskell/pull/454#issuecomment-513466559

[2019-07-20 17:35] rikvdkleij commented on #455
Stack's nix integration is not without flaws.

You can try to add `zlib` to to `shell.nix` or `default.nix` to be sure of `zlib` in the nix-shell.

I have not so good experience with stack it's nix integration, especially not on macOS.
See
https://github.com/commercialhaskell/stack/issues/4406
https://github.com/commercialhaskell/stack/issues/4329

Btw, you can better use nix and cabal new style.

[2019-07-24 20:35] enolive opened #456 "Fatal IDE Error on (re)starting the REPL in 2019.+"
it seems there is another IDE error. Unlike the last one (see #419) it is not related to the haskell problems tool window. This time it occurs when the REPL is starting. It seems to have no negative side effect (besides the fatal error tool window hiding all other possible problems).

How to reproduce it (I tested it in both 2019.1.3 and 2019.2):

- create a new haskell project (eg. `stack new my-

[2019-07-24 22:14] mouse07410 commented on #446
@rikvdkleij I don't know if the following error is related to this issue, but would like your opinion and help.

I have a Haskell project that used to work fine, both standalone and under `intellij-haskell`. I'm using the current publicly-available (from/via Jetbrains) beta version of the plugin.

I've made two changes:
- Upgraded IntelliJ IDEA to 2019.2;
- Re-configured my Haskell tools to build

[2019-07-24 23:27] friedbrice commented on #446
@mouse07410 `stack build` successfully builds your project? (I have more follow up questions, too, but I need to do a bit of research to find them, I'll post them in a bit.)

[2019-07-24 23:38] mouse07410 commented on #446
@friedbrice oh yes - it builds and runs OK when I do it outside of the plug-in. And it fails to run (or maybe to link) when started by/within the plug-in.

[2019-07-24 23:48] friedbrice commented on #446
@mouse07410 What do you get when you execute the following in your shell?

[code]

[2019-07-25 00:00] mouse07410 commented on #446
Immediately I got a problem - it seems to ignore `-system-ghc` and try to install `ghc-8.6.5`, which is not what I currently want on this machine:
[code]
My GHC is 8.6.3:
[code]

[2019-07-25 00:02] friedbrice commented on #446
Yeah, `--system-ghc` will only work if your system GHC is the same version as the one the resolver expects.

[2019-07-25 00:05] friedbrice commented on #446
@mouse07410 what you can do as a stopgap measure: `mkdir -p ~/.cache/intellij-haskell/lts-13/bin` and then copy binaries for `hlint`, `hindent`, `hoogle`, and `stylish-haskell` into that directory. Let me know if that lets your project build in Idea.

[2019-07-25 00:08] friedbrice commented on #446
Bear in mind: the plugin features (hlint inspection, refactor, hoogle) might not work, because the API of those tools might have changed between the version you're using vs the versions Intellij-Haskell expects.

[2019-07-25 00:55] mouse07410 commented on #446
First, here's the output of the commands you asked me to run. It looks like they succeeded. Maybe I made a mistake running them from the `~/src/Str2Split` directory where the project it...
[stack-out.txt](https://github.com/rikvdkleij/intellij-haskell/files/3429219/stack-out.txt)

And this
[code]
is one of the reasons why I don't want `stack` to download tools for me. I can't spare 3GB, especially

[2019-07-25 01:12] mouse07410 commented on #446
Funny. Removed `~/intellij-haskell-tmp` directory, started the IDEA again, and the project stopped running again (it seems to still build OK):
[code]

It does build OK, based on this evidence:
[code]
and this:
[code]

Then I did `stack clean; rm -rf .stack-work`, and did "Build project" in IDE again. This time it succeeded:
[code]

I concede that I don't have a clue what going on, or why.

[2019-07-25 01:16] friedbrice commented on #446
I'm under the impression that Intellij-Haskell is tested against only the tools from Stackage resolver `lts-13.*`. I don't think it's designed to use the tools from each project's GHC version or Stackage resolver. That said, it might work perfectly, it just isn't tested against those versions.

[2019-07-25 01:17] friedbrice commented on #446
I've read over your output, and honestly I don't get what's going on, either :-(

Sorry about assuming the Linux directory structure would be the same on your platform. It was an oversight on my part.

[2019-07-25 03:13] mouse07410 commented on #446
No worries. Just do your best getting your PR merged. :-)

P.S. I decided to bite the bullet and upgrade my last machine to GHC-8.6.5, with all the consequences. So far, the cabal upgrade Kris failing. :-(.  I wonder, as it went smoothly on other machine with similar software config...

[2019-07-25 15:03] mouse07410 commented on #411
I think Hoogle database is functional now, thanks.

[2019-07-25 15:03] #411 closed

[2019-07-25 19:43] rikvdkleij commented on #456
Thanks for reporting!
Problem is clear, will fix it.

Weird that you can easily reproduce it. I didn’t see it before.

[2019-07-26 19:30] Sir4ur0n commented on #450
Hi,

I just tested with Stack 2.1.3 and Intellij Haskell 1.0.0-beta51:
* Create new project from Intellij
* Select Stack binary
* Everything works fine

So I could not reproduce the issue.
Have you correctly installed Stack for Windows? FYI my Stack location is `C:\Users\sir4ur0n\AppData\Roaming\local\bin\stack.exe`

[2019-07-29 12:19] Sir4ur0n opened #457 "Deriving via color"
Hi,

It seems the `deriving via` syntax is not correctly colored, I would expect both `deriving` and `via` to be colored as keywords, but `via` isn't.

[code]

* `deriving` appears as a keyword (orange).
* 😢 `via` appears as a regular word (white).

[2019-08-01 08:24] runeksvendsen opened #458 "ProcessNotCreatedException: Cannot run program "/Applications/IntelliJ IDEA.app/Contents/bin""
I'm seeing the following error on startup:

<img width="921" alt="Screenshot 2019-08-01 at 10 21 52" src="https://user-images.githubusercontent.com/1069247/62277331-3d42a900-b446-11e9-81f5-36559e4484b9.png">

Full backtrace:

[code]

[2019-08-01 13:39] iupii commented on #449
The same :)

[2019-08-01 17:16] arthurborisow opened #459 "Automatically strips trailing spaces even when not saving"
Hi,

I noticed some strange behavior after I installed the plugin. Whenever I try to edit a line and start with a space char and I am not fast enough the space character will be stripped.
These are my settings:
<img width="604" alt="Screen Shot 2019-08-01 at 20 08 20" src="https://user-images.githubusercontent.com/786034/62313053-6ab84280-b498-11e9-83fe-c68790a66534.png">
To overcome the issue I h

[2019-08-01 18:07] rikvdkleij commented on #459
Thanks for reporting!

Can you give an example how I can reproduce this issue? Is it only in Haskell files?

[2019-08-01 18:26] rikvdkleij commented on #458
Thanks for reporting!

For some reason you could bypass the mandatory action to set the Haskell SDK. Normally you have to create (by setting the path to the `stack` binary) or choose the Haskell SDK before opening a project.

Can you describe what you actions where before getting this exception?

[2019-08-01 18:26] arthurborisow commented on #459
Steps to reproduce:
1. Open Intellij Idea with installed plugin
<img width="492" alt="Screen Shot 2019-08-01 at 21 14 18" src="https://user-images.githubusercontent.com/786034/62316957-5462b480-b4a1-11e9-878b-9b1aaed1eb48.png">

2. Click Create New Project. Choose Haskel module and Project SDK
<img width="691" alt="Screen Shot 2019-08-01 at 21 14 54" src="https://user-images.githubusercontent.com/

[2019-08-01 18:27] arthurborisow commented on #459
@rikvdkleij as far as I tested, yes

[2019-08-01 18:43] rikvdkleij commented on #459
Thanks for your report!

Found the issue and fixed it. I did not notice this issue because I had the option `Always keep trailing space on caret line` enabled.

[2019-08-01 18:44] arthurborisow commented on #459
Great news! Thank you!

[2019-08-01 19:20] arthurborisow opened #460 "Compilation errors are duplicated"
Steps to reproduce:

1. Open Intellij Idea with installed plugin
<img width="492" alt="Screen Shot 2019-08-01 at 21 14 18" src="https://user-images.githubusercontent.com/786034/62316957-5462b480-b4a1-11e9-878b-9b1aaed1eb48.png">

2. Click Create New Project. Choose Haskel module and Project SDK
<img width="691" alt="Screen Shot 2019-08-01 at 21 14 54" src="https://user-images.githubusercontent.com

[2019-08-02 11:29] runeksvendsen commented on #458
In the "Welcome to IntelliJ IDEA"-window I clicked "Create New Project", and then I just followed the wizard. I don't recall if the "Choose SDK"-step appeared and I was allowed to click "Next" without choosing an SDK, or if this step simply was never presented to me.

[2019-08-02 18:52] rikvdkleij commented on #460
Thanks for reporting (again)!

I have found the cause. It's introduced when I removed intero and had to execute `set +c` in ghci, which effects that all messages are duplicated.

[2019-08-02 18:55] arthurborisow commented on #460
@rikvdkleij thanks for quick response

[2019-08-03 14:58] rikvdkleij commented on #457
Thanks for reporting!

According to this list, https://wiki.haskell.org/Keywords, `via` is not a keyword. Also in https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/glasgow_exts.html#extension-DerivingVia `via` is not colored as keyword.

[2019-08-03 15:07] rikvdkleij commented on #457
Thanks for reporting!

Okay, it's listed here, https://gitlab.haskell.org/ghc/ghc/blob/1befd2c00f8a8fc1ca62ef18ca3028c58e35dabd/compiler/parser/Lexer.x#L797, as keyword.
But it should only be keyword in context of `DerivingVia`.

[2019-08-03 19:00] rikvdkleij commented on #458
When I follow your steps, I have to choose `Haskell module` in `New project` dialog window. There it's impossible to continue without creating or selecting SDK.
So I can not reproduce your issue.

[2019-08-04 19:36] #446 closed

[2019-08-05 08:55] runeksvendsen commented on #458
I can't reproduce it either.

[2019-08-05 20:54] mouse07410 opened #461 "Strange error "Can't start REPL""
This is on plugin beta-52 under IntelliJ IDEA 2019.2.

The test-project that was running fine, started giving this error:
[code]

I still can build it and run successfully, from both standalone terminal, and from within the IDE. I.e., the plugin does build and run it - even though all the Documentation popups and assistants are gone.

This is the build log (from within the IDE):
[code]

I can only

[2019-08-05 22:50] mouse07410 commented on #461
Same problem on another machine that still runs plugin beta-51:
[code]

One change I made was updating the resolver from `lts-13.20` to `lts-13.29`.

[2019-08-06 20:04] mouse07410 commented on #461
I'm getting this error consistently now - and while it does not prevent the builds from succeeding, it makes the plugin itself almost useless, as no REPL support is available.

This is the "main" problem message:
[code]
I've no idea what component requires this version of the `hspec` package. In the project YAML files, I specify dependency on `hspec >= 2.7.1`, but it seems to be ignored... Somethi

[2019-08-06 21:01] friedbrice commented on #461
I am reading all that output and I'll let you know what I think.

[2019-08-06 22:16] mouse07410 commented on #461
@friedbrice thank you! The problem appears to be related to @rpath, somehow.

I wonder if there's a way to set and pass env variables to the executables invoked by the plug-in. I recall that it is possible either in CLion or in IDEA for other languages - but was unable to add env vars to Run configurations or to the Project config (or even to the global IDEA config).

If that feature isn't there -

[2019-08-06 22:25] friedbrice commented on #461
Hey, @mouse07410, can I get your `*.cabal`, `package.yaml`, and `stack.yaml` files, as well as your project directory structure? That would help me replicate the problem. (I don't need your haskell source files, just the build-definition files.)

[2019-08-06 22:29] mouse07410 commented on #461
This is a test-project, so there's no problem uploading everything. I'll do that.

[2019-08-06 22:58] enolive commented on #448
Wow, great stuff! As far as I can tell, the feature works perfectly (I had a little trouble first with `stack new` but it was to some sort of incompatibility with the new `lts-14` build plan easily solvable by `stack upgrade`)

There is an unrelated IDE fatal error with the logger, though. I will report it separately.

Thanks again for your effort!

[2019-08-06 22:58] #448 closed

[2019-08-07 00:52] enolive commented on #456
I don't think this error occurs any more with beta52.

However, there seems to be another (maybe unrelated) fatal error with IntelliJ logging on starting a project.

[code]

should I open a new issue?

[2019-08-07 01:07] mouse07410 commented on #461
Here's the project:
[str3split.zip](https://github.com/rikvdkleij/intellij-haskell/files/3474754/str3split.zip)

Here's `~/.stack/config.yaml`:
[stack.config.yaml.txt](https://github.com/rikvdkleij/intellij-haskell/files/3474755/stack.config.yaml.txt)

`~/.stack/global-project/stack.yaml`:
[stack.yaml.txt](https://github.com/rikvdkleij/intellij-haskell/files/3474757/stack.yaml.txt)

`~/.cabal/conf

[2019-08-07 01:53] mouse07410 commented on #461
### Update
The fact that manual/standalone builds work, did not help with the plugin. I'm still getting that REPL failure to start:
[code]
after which manual run fails too:
[code]

Cleaning after this plugin and re-doing the manual build remedies the situation:
[code]

[2019-08-07 02:07] friedbrice commented on #461
Thank you, that's helpful to know. I'm looking at it now.

[2019-08-07 02:47] mouse07410 commented on #461
**Thank you**!!
It looks like it's related to dynamic builds - in other words, might be avoidable if the whole toolchain is reverted to static, together with all the builds. But that would mean that a simple executable, which now takes 22**K**B,  would occupy 1.5**M**B. I simply don't have room on my disk space to sustain such a space-hungry tool. :-(

[2019-08-07 02:48] friedbrice commented on #461
ah, you have your system-ghc set up for dynamic linking?

[2019-08-07 04:51] mouse07410 commented on #461
Some embedded work, yes. But even on my "normal" computers - for any one executable it wouldn't matter much either way, but for all of them the numbers start accumulating rather quickly. :-(

[2019-08-07 15:56] friedbrice commented on #461
Yeah, I understand.

[2019-08-07 16:54] rikvdkleij commented on #456
Is it reproducible? If so, yes please open new issue.

[2019-08-07 19:48] rikvdkleij commented on #456
Btw, is it a blocking issue?

[2019-08-07 22:51] mouse07410 commented on #461
This is what I'm getting when I start IDEA with beta-53 plugin:
[code]

Somehow something in the plugin does not seem to respect the system config, and instead of using the dynamic files, appears to insist on static - which it cannot find.

Standalone `stack` works just fine, after I blow away `.stack-work/` with what the plugin put there.  @rikvdkleij I wonder if I need to remove everything cache

[2019-08-08 01:56] mouse07410 opened #462 "Unable to run test"
Normally, I'd do `stack build --test`, and it would create/build a test-executable and run it:
[code]
So far so good.

But not so with this plugin, as it insists on passing `--exec` argument to `stack` regardless of whether it makes sense or not. It also refuses to let me point it at the correct executable:
![Screen Shot 2019-08-07 at 21 37 04 ](https://user-images.githubusercontent.com/5923577/62

[2019-08-08 04:21] enolive commented on #456
will do it, thanks!
It's not a blocking request, just a minor inconvenience.
/close

[2019-08-08 04:21] #456 closed

[2019-08-08 04:33] enolive opened #463 "Fatal Error when opening/creating new stack project in Intellij IDEA 2019.2 with Beta52"
Steps to reproduce:

1. Start IntelliJ
2. Open already existing Haskell Stack Project
3. Fatal IDE Error occurs with following stack trace:

[code]

There is a similar error when trying to create a new project, just with a slightly different stack trace:

[code]

I did not notice any negative side effects (besides the minor annoyance of having error popups).

Versions of my current stack:

[code]

[2019-08-08 04:45] rikvdkleij commented on #461
Haddock is only called when Hoogle db is built by manual action. Not when project is opened.

[2019-08-08 07:26] Sir4ur0n opened #464 "Haddock coloration behaves strangely"
In my current application we are starting to use real Haddock documentation, and I noticed the plugin behaves weirdly sometimes.

Start by copy/pasting it:
[code]

`-- |foo` should be correctly displayed in green.

Now put your cursor at the end of this doc line and type enter. **I think it would be a great improvement that it automatically adds `-- ` to the beginning of the line because we are co

[2019-08-08 11:43] mouse07410 commented on #461
But since without hoogle DB there's no documentation anyway - I think the point is moot.

And again, REPL fails to start - which appears to be a static vs. dynamic issue.

[2019-08-08 19:24] rikvdkleij commented on #461
Then, why are you writing this:

[2019-08-08 19:28] rikvdkleij commented on #461
I do not see output of a `stack build` which goes wrong inside, only `stack haddock`.

Can you try to start the REPL for target `Str3Split:lib` in shell?

[2019-08-08 19:41] rikvdkleij commented on #461
Okay, I see that you have upgraded your project's stack resolver to lts-14.

I did the same for my playground project and I'm hitting the same issue:
[code]

[2019-08-08 19:52] rikvdkleij commented on #461
This issue is difficult to solve because I can not reproduce your issue. I do not use `-dynamic`

[2019-08-08 19:54] rikvdkleij commented on #464
Thanks for reporting!

I will let you know but will be next week.

[2019-08-08 20:41] mouse07410 commented on #461
@rikvdkleij  would it be possible for you or @friedbrice to try a setup with `dynamic` (see my config files for Stack and Cabal above)?

[2019-08-09 06:01] rikvdkleij commented on #461
Execute in project dir: `stack repl Str3Split:lib`

[2019-08-09 11:00] mouse07410 commented on #461
[code]

[2019-08-09 13:22] rikvdkleij commented on #461
That means project is not successfully built inside plugin.

The next days I have no time to further investigate this issue.

[2019-08-11 19:30] rikvdkleij commented on #461
I have tried to reproduce your issue but I'm currently stuck at `stack test` with this error:
[code]

`stack build` goes fine.

I have added this
[code]
to `stack.yaml`

I do have not have set the `extra-include-dirs` and `extra-lib-dirs` because I do not know their values and think that will not help because error complains about missing hspec-discover so.

[2019-08-11 19:47] rikvdkleij commented on #445
@ice1000 it would be very cool if you could implement this feature request!

[2019-08-11 19:48] rikvdkleij commented on #460
Should be solved in beta52.

[2019-08-11 19:49] rikvdkleij commented on #459
Should be solved in beta52.

[2019-08-11 19:49] rikvdkleij commented on #453
Can this issue be closed?

[2019-08-11 19:49] rikvdkleij commented on #450
Should hopefully be solved in beta52.

[2019-08-11 19:50] rikvdkleij commented on #444
Should be solved in beta52.

[2019-08-11 19:50] rikvdkleij commented on #449
Should be solved in beta52.

[2019-08-11 19:51] rikvdkleij commented on #458
Shall we close this issue?

[2019-08-11 19:52] rikvdkleij commented on #457
@ice1000 Do you have a nice solution for solving this?

[2019-08-11 19:56] mouse07410 commented on #461
Thank you for working on this.

Correct, extra-dirs are not related to this problem, and I'm pretty sure you don't need to bother with them.

The `hspec-discover` problem is caused by a wrong setting of rpath, compounded by the fact that the plug-in seems to want to rebuild it. For one workaround, see my hspec#418. I'll also post it here in my next message. Also, you can build hspec-discover with

[2019-08-11 20:00] rikvdkleij commented on #464
The issues ,except for refreshing the Haddock display, are fixable but not easy because it expects knowledge of the parser.

The Haddock display issue can only be fixed by parsing the Haddock comments by the plugin itself...

[2019-08-11 22:37] mouse07410 commented on #461
The two workarounds for the `hspec-discover` failure to run are:

1. Build it via `cabal`, and copy the executable to where `stack` placed the faulty one. It should work as-is (would be my preferred way, but then I prefer `Cabal` over `Stack` for most everything.

2. If you still prefer to build everything with `Stack`. Locate where the shared library in question is, and add that directory as a ne

[2019-08-12 08:50] runeksvendsen commented on #458
Yes 👍

[2019-08-12 08:50] #458 closed

[2019-08-12 14:59] ice1000 commented on #457
I do

[2019-08-12 15:00] ice1000 commented on #445
This should be easy, but it's (possibly) conflicted with the new parser

[2019-08-12 15:02] ice1000 commented on #457
Only if you have a nice solution to access a file's pragmas @rikvdkleij

[2019-08-12 17:50] mouse07410 commented on #462
@rikvdkleij ping?

I think this goes into design of the plugin, and its intended use case - whether it's supposed to build and run anything but the main executable.

[2019-08-12 18:52] rikvdkleij commented on #462
Thanks for reporting!

I will take a look later.

[2019-08-12 19:16] rikvdkleij commented on #461
This approach does not work on Ubuntu. Did some googling but do not know how to continue.

[2019-08-12 19:42] rikvdkleij commented on #461
Okay, got `stack test` working by adding
[code]
to test target.

Also `cabal new-test` works.

[2019-08-12 20:24] mouse07410 commented on #461
Yeah... On Ubuntu you apparently need the tool [patchelf](https://nixos.org/patchelf.html). On Ubuntu I installed it via `sudo apt install patchelf`.

Once you get it installed, you'd do something like
[code]

[2019-08-12 23:26] mouse07410 commented on #461
Could you please show me a larger fragment of the config file (presumably `package.yaml`) where you added this, so I can see where it belongs?

[2019-08-13 00:55] c4dr01d commented on #450
@rikvdkleij Hopefully this issue can be solved at new version, thanks.

[2019-08-13 18:19] dvaldivia commented on #463
IntelliJ says beta 52 is not supported and has you disable the plugin

[2019-08-13 18:52] rikvdkleij commented on #457
@ice1000 Thanks!

Is this what you mean?
http://github.com/rikvdkleij/intellij-haskell/blob/6350b2828aff2bdc31946cddcf65212410b4d697/src/main/scala/intellij/haskell/psi/HaskellPsiUtil.scala#L40-L40

[2019-08-13 18:58] rikvdkleij commented on #463
@dvaldivia Can you explain more? From @enolive I understand that this error has no negative side effects.

[2019-08-13 19:12] rikvdkleij commented on #450
@c4dr01d Can you check it works in beta52?

[2019-08-13 19:23] rikvdkleij commented on #461
In `package.yaml`:
[code]

[2019-08-13 21:05] dvaldivia commented on #463
Yes, after installing/enabling the plugin
![enable](https://i.imgur.com/qsZ3nXq.png)
IntelliJ asks for restart
![restart](https://i.imgur.com/0JjwKiG.png)
but as it starts, it says there's a conflict with it and asks for the plugin to be disabled
![disable](https://i.imgur.com/0dC3Xby.png)

[2019-08-13 21:18] ice1000 commented on #457
Probably, I can try

[2019-08-14 05:40] rikvdkleij commented on #463
This is a different issue.

Do you also have the Haskell plugin `HaskForce` installed?

[2019-08-14 05:44] dvaldivia commented on #463
@rikvdkleij yes, I tried uninstalling that plugin, now it starts, but then intellij disables it and reports the following stack

[code]

should I open a separate issue?

[2019-08-14 07:08] rikvdkleij commented on #463
No, it looks like your configuration is corrupt. Only thing I can suggest is to remove IntelliJ config files...

[2019-08-14 17:24] iupii opened #465 "Cabal file, common stanzas, dependencies"
It doesn't get dependencies described in common stanzas sections.

[2019-08-14 17:28] rikvdkleij commented on #465
Yep, it mentioned here https://github.com/rikvdkleij/intellij-haskell#remarks

[2019-08-14 17:32] rikvdkleij commented on #445
@ice1000 Well, there is a lot to fix when we are going to use the new parser. So I do not see that as an  reason for not implementing this feature now. Again, it would be very cool if you could help!

[2019-08-14 17:46] rikvdkleij commented on #463
Well, on second thought, I can prevent this error when config file is corrupted. So yes, you can create separate issue for this.

[2019-08-14 19:17] rikvdkleij commented on #461
Intermediate conclusion:  Problem is not `-dynamic` but `system-ghc: true`

[2019-08-14 22:03] mouse07410 commented on #461
But... The whole reason we're going through these changes (which, IMHO, are improvements) is to avoid having the plug-in install is own copy of GHC or is tools...

[2019-08-15 20:25] declension opened #466 "Improve format of tooltip"
Having tooltips for compiler fails at the source position is great, and part of the charm of a good IDE.

However, I've found anything but the simplest compiler errors become unreadable, mainly just because of the lack of newlines (edit: also, some duplication of sorts, see image)

### An example tooltip
![intellij-haskell-tooltip-formatting](https://user-images.githubusercontent.com/3322808/63124

[2019-08-15 20:28] rikvdkleij commented on #466
Thanks for reporting!

I remember that I looked to this before. Can be regression issue.

Btw, there is also the `Haskell Problems View`

[2019-08-15 20:29] rikvdkleij commented on #461
Should be fixed in beta54, https://github.com/rikvdkleij/intellij-haskell/releases/tag/v1.0.0-beta54

[2019-08-15 20:32] declension commented on #466
Oh, cool! I might use that a bit more...

[2019-08-15 20:43] declension commented on #466
Hmm in the same codebase just now, this _doesn't_ happen elsewhere (but it's a significantly shorter error message)

[2019-08-16 14:40] iupii opened #467 "Can't get into network package"
It works weird with Network package. Code completion works but I can't go to the definition or into the package from my sources. Everything works with other packages.

[2019-08-16 15:55] rikvdkleij commented on #466
If you can reproduce the issue let me know

[2019-08-16 16:01] mouse07410 commented on #461
Tests work now from the plugin! Thank you!

I plan to do more testing - but so far I'm very happy. Thanks!!

[2019-08-16 16:02] mouse07410 commented on #462
Adding "Stack tester" config option helped a lot. It's not as generic as I'd like (i.e., being able to just specify whatever executable I think it should use ;) - but it does the job. Thank you!

[2019-08-16 16:02] #462 closed

[2019-08-16 17:54] mouse07410 commented on #461
Alas, more testing shows that the plugin still insists on populating the "Executable:" field with what *it* thinks the right executable should be - and doesn't allow putting what *I* think should be there.

The plugin also makes it impossible to do things like "stack clean", because this is what it does for that configuration:
[code]
![Screen Shot 2019-08-16 at 1 53 12 PM](https://user-images.gith

[2019-08-17 01:10] iupii commented on #467
It's because .hsc file format I suppose?

[2019-08-17 15:17] rikvdkleij commented on #467
Yes, the plugin does not support `hsc` files.

[2019-08-19 11:43] zeme-wana opened #468 "Alternative to "extra stack arguments" configuration option"
After updating from v1.0.0-beta51 to v1.0.0-beta52, I noticed that the extra-stack-arguments configuration option [has been removed](https://github.com/rikvdkleij/intellij-haskell/commit/42238fefca8e46c72637f230206c7576af9b2e97).
This was very useful to us, as it allowed to override the default --fast and --no-interleaved-output flags, as well as to add other flags that would match our default con

[2019-08-19 19:01] rikvdkleij commented on #468
No.
Extra stack arguments were added as temporary workaround to get the Haskell tools built in case of`system-ghc: true` and/or `-dynamic`.
Since beta53 (not officially released, only in alpha plugin repo) it is possible to set the paths to the Haskell tools (so you can build the Haskell tools in your own way).

Why do you want to override the default flags? `--fast` helps to get faster feedback a

[2019-08-20 07:25] zeme-wana commented on #468
I see. We have a large project that takes about 10 minutes to cold-build. When I open IntelliJ, the plugin will start building (with `--fast` and `--interleaved-output`), but because we use `-O1` in `package.yaml`, it will need to start from scratch, and when we run `stack build`, it will start from scratch again; same thing when we run `Update Settings and Restart REPLs`. In other words the build

[2019-08-20 19:22] rikvdkleij commented on #468
Hmm, for development it's best to have `--fast` but for creating a deliverable the build has to be optimized. Shouldn't you do the `stack build` on a different location (build server?)?

Without good arguments I'm trying to prevent to add again the option for extra stack arguments because they are some kind of a hack

[2019-08-21 08:21] zeme-wana commented on #468
Being able to add extra stack arguments just happened to be very convenient for us, seeing that we build and deploy locally with nix, making each of our dev machines a kind of build server.
I understand that it was meant to be a temporary workaround, but it just fit our use case so perfectly! I won't insist to have brought back though if it was not meant to exist in the first place.
So this issue

[2019-08-21 13:47] declension commented on #466
Yes - it was reliably happening on the example in the screenshot, just seems not to be on _every_ tooltip (and perhaps content length-related)

[2019-08-21 18:58] rikvdkleij commented on #466
Can you give some example code?

[2019-08-21 19:06] rikvdkleij commented on #468
Do you use the stack's nix integration?

Well, if you have no other option in your way of working, I can put them back.

[2019-08-21 23:22] mouse07410 commented on #468
I'd say - it would be great to have what Beta-54 added, plus restoring the "extra stack arguments".

Thanks!

[2019-08-22 01:15] mouse07410 commented on #461
I wonder if I should close this ticket - with beta54 REPL starts, and tests run.

[2019-08-22 07:52] zeme-wana commented on #468
Yes we use stack's nix integration.
We use the plugin for development, then when ready to deploy, we run `stack build` locally. We wrap the executable produced by stack into a nix derivation, and we mention that derivation in nixops to deploy.

We definitely don't want to stop using the plugin, and at the same time we like that we can deploy from any machine, and without rebuilding from scratch ev

[2019-08-22 19:47] rikvdkleij commented on #461
Yes because the original issue is solved.

I have to take a look to the issue with the `Executable` field. You can make separate issue for that.

[2019-08-22 19:53] rikvdkleij commented on #468
Ok, I will put this feature back in next release. Before I release new version my plan is to fix some bugs. So it can take some time before new version is released. Hopefully that isn't a problem. Otherwise let me know.

[2019-08-23 01:29] mouse07410 commented on #461
Thanks! Will do.

[2019-08-23 01:29] #461 closed

[2019-08-23 01:35] mouse07410 opened #469 "Plugin forces value in Executable field of the Configurations"
The plugin still insists on populating the "Executable:" field with what it thinks the right executable should be - and doesn't allow putting what I think should be there.

The plugin also makes it impossible to do things like "stack clean", because this is what it does for that configuration:
[code]

![image](https://user-images.githubusercontent.com/5923577/63560533-53fb8d80-c524-11e9-8353-bc43f

[2019-08-25 00:38] mouse07410 commented on #468
Certainly not a problem for me. And thanks for making and improving this plugin!

[2019-08-28 11:36] sanyarnd opened #470 "Smart completion NPE"
Hi,
`Ctrl+Shift+Space` shortcut raises NPE.

Stacktrace:
[code]

[2019-08-28 17:58] rikvdkleij commented on #470
Thanks for reporting! Will fix this.

[2019-09-01 19:35] rikvdkleij commented on #450
Please reopen if still an issue.

[2019-09-01 19:35] #450 closed

[2019-09-01 19:36] rikvdkleij commented on #453
Please reopen if still an issue.

[2019-09-01 19:36] #453 closed

[2019-09-01 19:36] rikvdkleij commented on #444
Please reopen if still an issue.

[2019-09-01 19:36] #444 closed

[2019-09-01 19:38] rikvdkleij commented on #379
@develop7 ping :smile:

[2019-09-01 19:39] #460 closed

[2019-09-01 19:39] #459 closed

[2019-09-01 19:39] #449 closed

[2019-09-01 19:41] rikvdkleij commented on #280
@aryairani Well, I guess this issue can be closed now. Otherwise please reopen.

[2019-09-01 19:41] #280 closed

[2019-09-01 19:50] rikvdkleij commented on #468
Released beta55 in which the setting to add extra stack arguments is back. https://github.com/rikvdkleij/intellij-haskell/releases/tag/v1.0.0-beta55

Also uploaded to alpha plugin repo.

[2019-09-02 00:25] mouse07410 commented on #468
Unfortunately, beta-55 consistently gives me
[code]

[2019-09-02 05:31] rikvdkleij commented on #468
@mouse07410 Hmm, weird. I have no idea. Will take a look later today.

[2019-09-02 18:51] rikvdkleij commented on #468
@mouse07410 I can not reproduce your problem. Also not with your example project `Str3Split`

Maybe your extra stack arguments settings contains something from before.

[2019-09-02 19:18] rikvdkleij commented on #378
Seems to be working again.

[2019-09-02 19:19] rikvdkleij commented on #392
It works again. Do not know why.

[2019-09-02 19:21] rikvdkleij commented on #375
AFAIK this one can be closed.

[2019-09-02 19:21] #375 closed

[2019-09-02 19:24] rikvdkleij commented on #469
The runner configuration is mentioned to ran an executable. Not for executing arbitrary stack commands.

[2019-09-02 19:29] mouse07410 commented on #375
Yeah, it's fine.

One problem - the current plugin does not support operations like "stack clean" (which is necessary to deal with cases when, e.g., there are artifacts stuck in the project that prevent it from running correctly). There's no way to request such an operation, and no way to prevent plugin from forcing the executable (that it consists the right one).

[2019-09-02 19:30] mouse07410 commented on #469
I can do it with pretty much all other plugins/languages. Using it a lot with Rust, for example.

Being unable to do that is a serious inconvenience/deficiency, IMHO.

[2019-09-02 20:13] Sir4ur0n commented on #378
Still doesn't work for me with Beta 52 (no more recent release published on Intellij Market).

[2019-09-03 00:43] mouse07410 commented on #468
More likely - something stuck from the previous builds, which is impossible to clean normally because there's no "stack clean" possibility.

I cleaned the project, and the rebuild succeed (and REPL started).

I'm still a little confused how to make the plugin display documentation on a function or such, but that's a different question.

[2019-09-03 18:27] rikvdkleij commented on #468
You can always do `stack clean` from the shell :wink:

[2019-09-03 18:39] rikvdkleij commented on #378
@Sir4ur0n Which version of IntelliJ are you using? I did not make changes to the plugin with respect to this issue.

For me the `putStrLn`s are just working.
When I use `getLine` I have to use `NoBuffering` as in this example:
[code]

[2019-09-03 19:10] mouse07410 commented on #468
Likewise, `stack build` (with any parameters/arguments I may need), `stack update`, `stack test`, etc.

Are you suggesting that there's no value in having plugin configuring those for the IDE, letting the IDE help in setting work dir for the operation, env vars, arguments, etc. etc.?

[2019-09-03 19:36] rikvdkleij commented on #468
I mean not able to run `stack clean` from the IDE is not really an excuse :smile:

But yes, when I develop in Haskell, the REPL runs next to the IDE. In the REPL the tests are ran. It would be nice to run the tests from the IDE itself without creating a configuration (like in Java and Scala) but I have to investigate how to develop that.

[2019-09-03 19:37] rikvdkleij commented on #468
Any suggestions are welcome!

[2019-09-03 20:08] mouse07410 commented on #468
I can do a lot from the terminal in a shell, and I can do a lot using VS Code.

But we're discussing how to make this nice plugin better and more usable, right? Not how to accomplish what a reasonable developer may want with a different product?

Is there a standard way that IntelliJ IDEA provides? Sometimes I press F1, and the doc shows up on the right, sometimes it throws me to a browser opening

[2019-09-03 21:14] Sir4ur0n commented on #378
Ah, I hadn't paid enough attention to the `hSetBuffering stdout NoBuffering` part, my apologies :( It works when disabling buffering.

Shouldn't this be documented? Maybe even better: somehow enabled by default? This may confuse many people learning Haskell with Intellij and not able to make simple "Hello world" examples work 😞
Alternative: In the Run/Debug configuration window, display a warning

[2019-09-05 19:44] rikvdkleij commented on #468
You can also view the documentation and other context info in the Documentation tool window. It automatically syncs with the editor.

[2019-09-05 19:50] rikvdkleij commented on #378
No problem :smile:

I do not know how to enable it by default because it's in the Haskell code. Also do not see a Stack option for this.

Yes, that is the most simple alternative solution.

[2019-09-05 20:33] mouse07410 commented on #468
Pardon my ignorance - but what is Documentation Tool Window, and how do I get it opened?

[2019-09-06 05:38] rikvdkleij commented on #468
When you ask the doc for identifier, the popup contains option to open Tool window.

[2019-09-06 22:56] mouse07410 commented on #468
Again, pardon my ignorance - *how* do you ask...? I thought it's `F1`, but sometimes it works, and sometimes it doesn't.

[2019-09-06 23:24] zeme-wana commented on #468
@mouse07410
Make sure that these are all checked:
[code]

Then you should be able to get haddock on mouse hovers.
Also check the Messages tab and make sure that the plug in built with no errors.
Try `Haskell -> (Re)build Hoogle Database` if all else fails.

[2019-09-07 07:08] rikvdkleij commented on #468
It is also possible to show info in Documentation Tool window which gives more info and syncs with location of cursor in editor.

[2019-09-07 20:40] Serezon opened #471 "Error installing hindent, hoogle and stylish-haskell"
After creating a new project during package installation this error pops up:
[code]
Getting similar errors for hident and hoogle. Saw issue #446, which looks kind of the same, but didn't quite get how to fix that. Hope for your help :)

- Intellij IDEA 2019.2.1
- Stack 2.1.3
- GHC 8.6.5
- Arch Linux

[2019-09-08 00:12] mouse07410 commented on #468
My problem is - I don't know how.

[2019-09-08 11:40] rikvdkleij commented on #471
You can try to install the latest version from the alpha plugin repo. In Haskell settings make sure to not use system GHC for installing the tools.

Hope this helps.

[2019-09-08 11:50] rikvdkleij commented on #471
See Readme of repo about how to configure IntelliJ to use alpha repo.

[2019-09-08 13:32] Serezon commented on #471
Took a while to build, but worked out like a charm. Thanks a lot c:

[2019-09-08 13:32] #471 closed

[2019-09-08 15:29] rikvdkleij commented on #471
Great to hear. Yes, it takes some time to build all the tools.

[2019-09-08 16:45] mouse07410 commented on #468
I'm afraid that's OS-specific. Here's what my `File ->` gives me:
<img width="651" alt="Screen Shot 2019-09-08 at 12 39 41" src="https://user-images.githubusercontent.com/5923577/64491359-e3e44b80-d235-11e9-9e2f-2b384aad4b55.png">

Here's what should've helped:
<img width="838" alt="Screen Shot 2019-09-08 at 12 42 29" src="https://user-images.githubusercontent.com/5923577/64491427-7d136200-d236-11

[2019-09-08 16:53] mouse07410 commented on #461
@rikvdkleij  DO you know what's that weird stuff at the bottom of the Doc window, and how to remedy that?

<img width="313" alt="Screen Shot 2019-09-08 at 12 52 35" src="https://user-images.githubusercontent.com/5923577/64491527-9f59af80-d237-11e9-9389-cb179f2feee7.png">

[2019-09-08 18:56] rikvdkleij commented on #468
I have tried to make screenshot but without success because it's a popup.

But when you press F1 above an identifier, a popup appears and in the top-right corner there is button with three vertical dots. You have to press that button and  there you can select `Open as Tool window`.

[2019-09-08 19:01] rikvdkleij commented on #461
Which weird stuff do you mean?

They all have a purpose.
Type signature.
Haddock
From GHCi's `:info`
Package name

[2019-09-08 19:17] rikvdkleij commented on #461
Well. maybe for library identifiers it makes more sens to show GHCi's `:info` there to see in which module it is defined.

[2019-09-08 23:29] mouse07410 commented on #461
I mean the text I did not expect to appear (and that didn't show on other tools such as VSCode):
`Data.OldList -- No type info available`

[2019-09-09 05:39] rikvdkleij commented on #461
So you finally got the Documentation Tool window working?

The idea is that this window always shows the type of identifier where cursor is located (so you don't have to press a shortcut). But the GHCi command that is used (`:type-at`), doesn't work for library identifiers ICan be replaced it by `:info` for library identifiers.

Or do you have better suggestion? Maybe it's need a title so user kno

[2019-09-10 00:44] mouse07410 commented on #461
Not reliably - but I think so.

Unfortunately, I don't know enough to comment or suggest. I can notice a problem (as it's been biting me in the rear ;), but I don't know how to solve it. :-(

Perhaps it's worth trying what you suggested above - replacing `:type-at` with `:info` for the library identifiers? And observe how it improves the output (or not)?

[2019-09-10 22:05] joprice opened #472 "compilation errors when building plugin"
I am interested in contributing, so I tried building the project by following the steps in the contributing guidelines, but the build failed with many compilation, e.g. missing imports like `import com.intellij.compiler.impl._`. It seems like something is missing from the classpath. I made sure to run `updateIdea`, and I did see the correct idea build get downloaded when starting sbt.

[2019-09-11 18:17] rikvdkleij commented on #461
Will do that and also thinking about putting there a title/header.

[2019-09-11 19:31] rikvdkleij commented on #472
Great to hear!

Thanks for reporting. I can reproduce this issue with sbt. There are 2 libraries with same package name. For now I do not know how to solve this.

Alternative solution is to import the project in IntelliJ. Compiling inside IntelliJ works. You can try that.

[2019-09-13 01:27] dandoh opened #473 "Parse error when having kind '(m, n) on type signature"
The following file would compile without errors, but the plugin can not recognize the syntax and show error: `'#' or HaskellTokenType.RIGHT_PAREN expected, got ','`
![image](https://user-images.githubusercontent.com/10379980/64831503-0367d500-d5a4-11e9-8554-e8cddc80102e.png)

Code snippet:
[code]

[2019-09-14 11:54] rikvdkleij commented on #472
@joprice Adapted the build instructions because of this issue.

[2019-09-14 11:56] rikvdkleij commented on #473
Thanks for reporting!

Will fix it.

[2019-09-18 22:15] mutcianm commented on #472
Please add java plugin as an internal plugin dependency
See https://github.com/JetBrains/sbt-idea-plugin/issues/24#issuecomment-532883050

[2019-09-21 12:46] #472 closed

[2019-09-21 12:47] rikvdkleij commented on #472
@mutcianm Thanks for helping!

[2019-09-24 22:53] rausm commented on #450
If you are on Windows, have valid stack binary (ie you can run stack new / init / built / <whatever> ), and stack --numeric-version returns sensible version, it might be Windows Defender - or other antivirus - influence.

Btw, when setting the SDK fails, and error message is written to Idea message/ error log (accessible in right bottom of startup dialog or editor window). In my case it contained

[2019-09-25 07:34] rikvdkleij commented on #450
@rausm Thanks for your comment!

So it works for you or not? In the past I looked to this issue and I have no idea why setting the SDK does not always works on Windows.

[2019-09-30 11:57] nhenin opened #475 "Intellij / maybe the Haskell Plugin makes stack in terminal recompiling everything systematically"
Hi,
When I'm using `Intellij` and updating some files into my project via this IDE, `stack` in my terminal recompiles everything all the times instead of recompiling only the necessary files... It is acting like if the IDE is changing the state of all the files of my Haskell Project every time... Could it be a configuration issue ?

[2019-09-30 17:46] rikvdkleij commented on #475
IntellIJ saves files automatically so that could be the reason.

But why do want to use `stack` for building your project while using the IntelliJ-Haskell plugin?

[2019-10-01 07:39] nhenin commented on #475
Sometimes, the plugin gets jammed somehow, and I find it clearer to see compilation message sometimes... I may not know some features that would change my mind...  Do you a way to configure Intellij for not touching all the files for nothing ?

[2019-10-01 10:47] rikvdkleij commented on #475
No, you can't disable it completely, see also https://stackoverflow.com/questions/28949290/turning-off-intellij-auto-save/28950477#28950477

sometimes...

You can see them in Haskell Problem Tool window

Can you explain how to reproduce that? Normally when project library code is changed and user navigates to code which depends on library code (e.g. test code), the library code is rebuilt and depe

[2019-10-01 11:42] nhenin commented on #475
yes it's a multi-package project, I didn't find a pattern to reproduce these issues yet, I'll keep you posted when I find one...

[2019-10-07 20:53] dandoh commented on #475
@nhenin It could be the case that intellj-haskell compiles with `--fast` flag, but your terminal doesn't.

[2019-10-09 09:09] nhenin commented on #475
thank you @dandoh  !! That was exactly that !

[2019-10-09 18:41] rikvdkleij commented on #475
Thanks for helping @dandoh !

@nhenin
But I still wonder why you need to rebuild your project while using the plugin...

[2019-10-10 07:59] folex opened #476 "Navigation isn't available because Network.Socket isn't loaded or found"
Hi! I just started using intellij-haskell a few hours ago, and it's awesome, thank you so much for your work!

However, after a few hours of poking around, `Navigate to Declaration or Usages` stopped working _only_ for `Network.Socket` library. Here's the message that appear in the bottom toolbar when I mouse-click on any function from `Network.Socket` or `Network.Socket.ByteString`:
[code]

It se

[2019-10-10 19:18] rikvdkleij commented on #476
Thanks!

`hsc` files are not supported.

See also
https://github.com/rikvdkleij/intellij-haskell/issues/467

[2019-10-10 20:50] jumpnbrownweasel commented on #476
I have no comment on this issue, but I have to say I really love intellij-haskell and really appreciate the work you've done on it. It has made learning Haskell SO much easier for me, since I was able to use at least one familiar tool. Thank you!!

[2019-10-12 11:09] rikvdkleij commented on #476
Thanks! Much appreciated.

[2019-10-12 12:16] folex commented on #476
Thanks for the answer :)

[2019-10-12 14:05] folex commented on #476
I have a similar problem with protobuf-generated `.hs` files.

[Here on line 61](https://github.com/folex/baraban/blob/master/app/Main.hs#L61) if I try to cmd-click on `Heartbeat`, it behaves the same way as displayed on screenshots in the issue.

And it seems to be also the case with `ProtoLens` library, e.g [here on line 22](https://github.com/folex/baraban/blob/master/app/Main.hs#L22) I can't c

[2019-10-12 14:33] rikvdkleij commented on #476
You will have to mark them as `Sources` in Project settings.

[2019-10-12 15:26] folex commented on #476
Sorry I didn't mention that, I've tried doing that, and it didn't help. Go to definition still won't work. And if I tried to `Update settings and restart REPLs`, directories become excluded again.

I thought that's because `.stack-work` is in `.gitignore`, and did some ugly things there:
[code]

Now Git sees `Raft.hs` and `Raft_Fields.hs`, but IDEA still marks `autogen/Proto/Raft` dir as excluded.

[2019-10-15 11:24] nhenin commented on #475
[code]

[2019-10-15 11:24] nhenin commented on #475
I have messages like that for example and Intellij get lost...

[2019-10-15 18:40] rikvdkleij commented on #476
@folex I will try to reproduce your issue soon with your projects.

Btw, I already improved navigation in master.

[2019-10-15 18:48] rikvdkleij commented on #475
I have seen those error in issues of @mouse07410. @mouse07410 can you help?

[2019-10-16 13:17] folex commented on #476
Thanks! You should be able to reproduce it using tag [issue-476](https://github.com/folex/baraban/tree/issue-476)

[2019-10-16 23:03] folex opened #477 "Unknown command ':type-at'"
Happens on project [paxoslease](https://github.com/NicolasT/paxoslease) when I try to invoke `Quick documentation` on any variable or function.

![image](https://user-images.githubusercontent.com/1949356/66965363-12014a80-f082-11e9-8225-e823cf649df1.png)

Rebuilding Hoogle DB / Update settings & restart REPL / restarting IDE didn't help.

**Plugin version**: 1.0.0-beta55 , from custom plugins repo

[2019-10-17 14:57] GalLalouche opened #478 "Parsing paths fails for long PATH list in windows"
For some reason, the output of `stack path` will split a very long `%PATH%` list into two lines, which will break the parsing in `intellij.haskell.util.ScalaUtil.linesToMap` (it will throw an `IndexOutBounds` exception).
Trimming my (admittedly too long) `%PATH%` solved the issue.

Tested on Windows 7.

[2019-10-17 15:24] Sir4ur0n commented on #477
Could it be that your project uses an old version of GHC? I see it's using Stack snapshot LTS 6.15 (i.e. GHC 7.10.3) which is quite old!

[2019-10-18 00:11] folex commented on #477
That was it! Works with `lts-13.26` and `lts-14.10`, thank you :)

[2019-10-18 00:11] #477 closed

[2019-10-18 07:42] rikvdkleij commented on #477
@Sir4ur0n Thanks!

[2019-10-18 07:43] rikvdkleij commented on #478
Thanks for reporting!

Nice you find the cause. I do not see an urgent reason to solve this.

[2019-10-22 11:57] TranHHoang commented on #450
I solved this just by running IntelliJ as administration and everything works great!

[2019-10-24 20:18] zored commented on #450
Another solution is to right-click on `stack.exe` in Explorer and grant it full access for users (I belive that there is sone command for that).

[2019-11-03 12:44] rikvdkleij commented on #457
@ice1000 did you try?

[2019-11-03 12:48] rikvdkleij commented on #445
@ice1000 Can you solve this? Otherwise let me know how to solve this.

Many thanks!!

[2019-11-03 14:08] ice1000 commented on #445
You'll need to port these classes:

https://github.com/rikvdkleij/intellij-haskell/pull/358/files#diff-1f054804631f0876da44e65b6fa0f3cdR253-R254
https://github.com/rikvdkleij/intellij-haskell/pull/358/files#diff-d11748638a9822291c3e8a7c3d491605R51
https://github.com/rikvdkleij/intellij-haskell/pull/358/files#diff-ab991e31cf0934dfd57301c0189ef3d7R7-R22
https://github.com/rikvdkleij/intellij-haskell

[2019-11-03 14:22] ice1000 commented on #457
I didn't, but here's how-to:

Open up [this function](https://github.com/rikvdkleij/intellij-haskell/blob/master/src/main/scala/intellij/haskell/highlighter/HaskellHighlightingAnnotator.scala#L9), it's invoked for every `PsiElement` in your Haskell files. Write some codes to detect if there's `DerivingVia` pragma and it's a `deriving Show via Int` code, do whatever you want to find the TextRange f

[2019-11-03 15:01] rikvdkleij commented on #445
@ice1000 Thanks for your reply but it's not clear for me. Can you be more explicit about the steps?

Otherwise it can also wait till you have working Scala environment (or does that take ages? 😄)

[2019-11-03 15:06] rikvdkleij commented on #457
@ice1000 Thanks!

[2019-11-03 15:28] ice1000 commented on #445
Oh, Scala! My Scala!

[2019-11-03 15:29] ice1000 commented on #445
Scala plugin throws exceptions on my IntelliJ, oh my

[2019-11-03 15:31] rikvdkleij commented on #445
Maybe plugin version not compatible with IntelliJ version?

[2019-11-03 15:34] ice1000 commented on #445
IDK

[2019-11-03 15:34] ice1000 commented on #445
Don't leave, I'm working on it

[2019-11-03 15:34] ice1000 commented on #445
![image](https://user-images.githubusercontent.com/16398479/68087601-82032500-fe25-11e9-906c-3750af4f0b76.png)

[2019-11-03 15:34] ice1000 commented on #445
So many changes like this. I'm feeling aweful

[2019-11-03 15:36] ice1000 commented on #445
And this
![image](https://user-images.githubusercontent.com/16398479/68087633-cc84a180-fe25-11e9-9dfb-8cb0ca7bdb56.png)

[2019-11-03 15:36] rikvdkleij commented on #445
Thanks!

[2019-11-03 15:38] rikvdkleij commented on #445
Yeah, generated code is still hard to maintain...

[2019-11-03 15:43] ice1000 commented on #445
I'd not committing them into the repo

[2019-11-03 15:46] rikvdkleij commented on #445
Ok, will do that soon.

[2019-11-03 15:54] ice1000 commented on #445
???

[2019-11-03 15:55] rikvdkleij commented on #445
I mean I will remove the generated code soon from the repo.

[2019-11-03 15:55] ice1000 commented on #445
Really? I didn't mean to social pressure you

[2019-11-03 15:55] ice1000 commented on #445
I didn't compile it as I don't have Scala env. Please check if it works fine though

[2019-11-03 16:18] rikvdkleij commented on #445
Well, the generated is a problem so I think it's good solution to remove it from repo. Only downside is that project can not be build when for example travis build is setup.

[2019-11-03 17:56] ice1000 commented on #445
If you use gradle, there's a plugin for running grammar-kit generation. The downside is that the `methods` is no longer usable.

[2019-11-03 18:05] rikvdkleij commented on #445
What do you mean by

?

[2019-11-03 23:51] ice1000 commented on #445
I was talking about an attribute provided by Grammar-Kit that you can use in your .bnf files.
The gradle plugin is not abled to generate the methods indicated by the `methods` attribute of your parsing rules.

[2019-11-03 23:54] ice1000 commented on #445
Btw, there are ways to invoke grammar-kit via command line. See this revision of this plugin: https://github.com/intellij-solidity/intellij-solidity/tree/0d696bd75b9e48261e46171e3a387bf008a84ae5 (don't look at the master branch, they've already switched to the gradle plugin)

[2019-11-04 10:00] totraku opened #480 "Background task "Busy with installing hlint ...""
In IntelliJ Idea Ultimate version 2019.2.4 I have on both: mac osx (v 10.15.1) and the latest windows 10 the same problem:

This process keeps running the whole time and the option to rebuild the hoogle database stays unavailable.

![image](https://user-images.githubusercontent.com/36606809/68112703-38ccd700-fef2-11e9-9d68-e4f7758e078c.png)

![image](https://user-images.githubusercontent.com/36606

[2019-11-04 18:50] rikvdkleij commented on #480
Enable Event log to see what is going on.

Can you install hlint manually?

[2019-11-04 19:04] #445 closed

[2019-11-04 19:11] rikvdkleij commented on #445
@ice1000 Thanks for the pointer.

[2019-11-05 09:44] totraku commented on #480
I opened the event log and now somehow everything works. I am not sure what the cause is and how it resolved. I will check the windows machine later and report here

[2019-11-06 13:04] retnuh opened #481 "Completions unavailable in stack REPL"
Hi there, I'm running ghci using the stack REPL template.  For whatever reason, the only completions available seem to be keywords.

Completions are available in the editor windows.

I'm running `1.0.0-beta55` on MacOS w/

IntelliJ IDEA 2019.2.4 (Ultimate Edition)
Build #IU-192.7142.36, built on October 29, 2019
Runtime version: 11.0.4+10-b304.77 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.

[2019-11-06 19:42] aryairani opened #482 "new hang — possibly related to updating .cabal file after removing an entry from `packages:` in stack.yaml"
[threadDumps-freeze-20191106-143858-IC-191.7141.44.zip](https://github.com/rikvdkleij/intellij-haskell/files/3816395/threadDumps-freeze-20191106-143858-IC-191.7141.44.zip)

Thanks for your efforts!

[2019-11-06 21:56] rikvdkleij commented on #481
It could be that you first have to load a file.

[2019-11-07 01:42] retnuh commented on #481
No, it doesn't complete functions that are definitely in scope.  If I load the module again using `:l` it still doesn't complete.

[2019-11-10 23:24] rubenhensen commented on #480
I have the same problem. Not sure what's going on, I'm running linux (POP_OS).

[2019-11-13 21:23] joe307bad opened #483 "Error while calling hlint: Couldn't find file: hlint"
I started the project [following the directions](https://docs.haskellstack.org/en/stable/README/) on the Haskell Stack site. Then I installed this plugin using the directions in the README. Everytime I make an edit to a Haskell file, I get a notification balloon that says:
[code]
IntelliJ version:
[code]
Plugin version:
[code]
I also tried manually installing the latest beta (`v1.0.0-beta55`) from

[2019-11-17 12:15] rikvdkleij commented on #482
Thanks for reporting!

I took a look to threadDumps but it's not directly clear why IntelliJ should hang.
After you changed the cabal file, did you restart the REPLs? It looks like IntelliJ wanted to check a Haskell file in the background but the REPL was not (yet) running.

[2019-11-17 12:18] rikvdkleij commented on #483
Normally Hlint is automatically installed in the background when one opens a Haskell project for the first time. Check the Event log so see what's going on.

When for whatever reason the Hlint build fails, you can also try the latest beta (beta55) which gives you the option to install Haskell tools by yourself and configure them in Haskell Settings.

[2019-11-19 10:51] pavelz opened #484 "Request: add setting env vars for env in which stack in ran"
I have confronted issue that I have binutils installed from homebrew and they interfere with  stack build operations with errors like attched ones, prepending /usr/bin to PATH - resolved these issues - after clearning ~/.salt and .salt-work. Adding ability to add env vars to launch of stack would resolve this.

[code]

[2019-11-19 19:50] rikvdkleij commented on #484
Thanks for reporting!

Are those env vars needed for every stack action? So for example also for `stack repl`?

[2019-11-22 10:18] Sir4ur0n opened #485 "Add support for Ormolu"
Similar to #319 but for Ormolu

Ormolu formatting is pretty nice, quite some effort and thinking has been put into its design to be both predictable and pragmatic (think Git diff, readability).

They also explain why Yet Another Formatter [in their doc](https://github.com/tweag/ormolu/blob/master/DESIGN.md#analysis-of-the-existing-solutions)

[2019-11-23 10:47] rikvdkleij commented on #485
Thanks for reporting!

No problem to implement this one.
Two remarks:
 - Ormolu is not on Stackage so it can not be automatically build
- Settings page has to be extended with path to Ormolu and some indicator to switch between Hindent/Stylish Haskell and Ormolu

[2019-11-24 23:53] ogresto opened #486 "[global-stack-repl] Stack REPL couldn't be started within 30 seconds"
[code]
the project is a project from templates generated by `>stack new myproj`

[2019-11-25 04:18] anqurvanillapy opened #487 "How to setup env vars especially for proxy?"
I'm behind a company firewall and on Windows where:

[code]
works for me.  But how can I set up these variables for the plugin?  Since clicking on `Haskell -> Update settings and restart REPLs` gives me timeout exception.

[code]

I tried to put the settings of variables of `STACK_ROOT` and `HTTP_PROXY` by using the system autorun but they were not recognized by the plugin's `stack`-summoning.

Of

[2019-11-25 11:37] anqurvanillapy commented on #487
Ooops, so that actually can be tuned via https://www.jetbrains.com/help/idea/settings-path-variables.html.  I'm closing this and BTW the `stty not recognized` issue is upstream with `stack` and `terminal-size`.

[2019-11-25 11:37] #487 closed

[2019-11-25 17:49] rikvdkleij commented on #486
Take a look to Haskell Event log to see what's going wrong.

[2019-11-25 17:51] rikvdkleij commented on #484
See #487 . Maybe that helps.

[2019-11-25 23:04] ogresto commented on #486
`
00:03	[global-stack-repl] Stack REPL couldn't be started within 30 seconds

00:03	[global-stack-repl] GHCi, version 8.6.5: http://www.haskell.org/ghc/  :? for help
				Loaded GHCi configuration from /home/ogr/.cache/intellij-haskell/repl.ghci

00:03	[project-stack-repl-hask:lib] Stack REPL couldn't be started within 30 seconds

00:03	[project-stack-repl-hask:lib] GHCi, version 8.6.5: http://www.

[2019-11-26 19:25] rikvdkleij commented on #486
I can not see the cause in this log.

Try to run `stack repl hask:lib` from the command line and see if that works.

[2019-11-26 21:01] ogresto commented on #486
@rikvdkleij it works:
`
~/prj/hask$ stack repl hask:lib
Configuring GHCi with the following packages: hask
GHCi, version 8.6.5: http://www.haskell.org/ghc/  :? for help
Ok, one module loaded.
Loaded GHCi configuration from /tmp/haskell-stack-ghci/c6e38927/ghci-script
Prelude Lib>
`
`

[2019-11-26 21:48] ogresto commented on #486
different topic: it happens on "update haskell tools" :`
[code]

[2019-11-27 18:39] rikvdkleij commented on #486
Very difficult to help you because I do not have enough information and also don't know how to reproduce this issue.

It's only a warning.

[2019-12-04 11:16] abhishekvaid opened #488 "Ribbon with Hoogle database doesn't exist. Keeps showing up."
I installed latest version of the plugin and plugin seems to be working fine. However, I'm facing two issues:

Issue 1:
A Ribbon pops up every time I open the IDE. I have already installed hoogle through stack from CMDline.
- Hoogle features can be enabled by menu option `Haskell`/`(Re)Build Hoogle database`

Issue 2:
formatting with hindent ( from code toolbar menu) doesn't do anything either. I

[2019-12-04 13:23] Sir4ur0n commented on #485
Indeed, my bad, it's not yet added to Stackage :(
This is linked to https://github.com/tweag/ormolu/issues/412

I guess this issue is on hold until Stackage is supported, sorry for the inconvenience :sweat_smile:

[2019-12-04 18:52] rikvdkleij commented on #488
Thanks for reporting!

About issue 1. The popup means that if you want Hoogle support, you need to build the Hoogle database by using the menu option mentioned in the popup.

About issue 2. Hindent (like the other Haskell tools) should be automatically build the first you open a Haskell project. No need to build the tools yourself.
About your issue. Check the Haskell Event log and you can use the

[2019-12-04 18:54] rikvdkleij commented on #485
No problem. It's not really a must that Ormolu has to be on Stackage but make life easier :smile:

[2019-12-05 07:54] abhishekvaid commented on #488
Hi Thanks a prompt response.

Issue 2 is working now. It's strange but it just started working. I can format now.

Issue 1 is still happening. My plugin version is 1.0.0-beta52. I do get that I need to build Hoogle DB, but how. I tried it from CMD after reading a few posts, but it didn't work.

Can you tell me exact series of steps I need to do here to circumvent this problem.

[2019-12-05 19:45] rikvdkleij commented on #488
You can build the Hoogle db via the menu action `Haskell/(Re)Build Hoogle database`.

Hopefully this helps.

[2019-12-08 18:25] ogresto opened #489 "com.intellij.diagnostic.PluginException: getComponentAdapterOfType"
IntelliJ-Haskell 1.0.0-beta52
intellij 2019.3

it happens on startup:

[code]

[2019-12-08 20:06] rikvdkleij commented on #489
Thanks for reporting!

It's already fixed in master.

Does this error prevent you from using the plugin?

[2019-12-08 20:17] ogresto commented on #489
i am not sure, probably no

[2019-12-09 23:32] rausm commented on #450
It started working (in IntelliJ) after I disabled Defender,
It worked Ok in plain command line.

[2019-12-13 23:31] aryairani commented on #482
I'm not sure :-\  We can close it if you want.

[2019-12-13 23:31] aryairani commented on #482
Oops I meant to comment and let you close it, not close it myself ;-)

[2019-12-17 13:51] dima74 opened #490 "Not working with rainbow brackets plugin"
All brackets have yellow color, when using [rainbow brackets plugin](https://github.com/izhangzhihao/intellij-rainbow-brackets):

![image](https://user-images.githubusercontent.com/6505554/70864613-caede380-1f64-11ea-90d5-1d06b8f41c25.png)

It is likely because expressions have flat structure, thus preventing rainbow brackets plugin from finding matched brackets. Screenshot with PSIViewer plugin:

[2019-12-17 23:19] arthurborisow commented on #489
I have the same issue on new project. Can this be the reason why I can't navigate to sources of function `putStrLn`?

[2019-12-18 15:08] arthurborisow opened #491 "Can't navigate to external library sources"
Steps to reproduce:
1. Create new project
2. Wait until all the background jobs are finished.
3. Try to go to `Declaration or Usages` for `putStrLn` function

Expected result: I am moved to the sources of the function
Actual result: `No usages found in All places`. Also text Navigation is not available at this moment: No info because Prelude isn't loaded or found is displayed at the bottom of IDE.

[2019-12-18 16:01] arthurborisow commented on #491
Hm, it works now. Not sure why and not sure why it didn't work before since I didn't change anything

[2019-12-18 16:01] #491 closed

[2019-12-22 11:11] rikvdkleij commented on #488
@abhishekvaid Is issue 2 solved?

[2019-12-22 11:12] rikvdkleij commented on #475
@nhenin Did you solve this issue?

[2019-12-22 18:26] rikvdkleij commented on #473
It's fixed in beta56.

[2019-12-22 18:27] rikvdkleij commented on #489
This issue is fixed in beta56.

[2019-12-22 18:27] rikvdkleij commented on #470
It's fixed in beta56.

[2019-12-22 18:28] rikvdkleij commented on #445
It's fixed in beta56.

[2019-12-23 11:35] develop7 commented on #445
Thanks!

[2019-12-23 15:44] develop7 commented on #445
Confirming it works, thanks again @rikvdkleij @ice1000

[2019-12-24 15:04] develop7 opened #492 "Unhandled exception in beta56 on IDEA 2019.3"
<details><summary>stack trace</summary>

[code]

</details>

[2019-12-25 15:26] i-schuetz commented on #350
Also getting this. I removed the .idea files, re-imported and removed `/Users/me/Library/Caches/com.github.rikvdkleij.intellij-haskell/lts-13/`, cleaned cache etc. Still hangs on "Busy with installing hlint". There's also the warning that Hoogle db doesn't exist, but I assume it's not related.

Idea version:
[code]

Plugin version:
[code]

OS:
[code]

[2019-12-26 08:02] asimaranov opened #493 "The plugin seems not working on linux"
The event log is
[code]

[2019-12-26 08:52] asimaranov commented on #493
The problem was in the old version in jetbrains plugin repository. The latest version of plugin from releases is working fine

[2019-12-26 08:52] #493 closed

[2019-12-26 14:01] rikvdkleij commented on #492
Thanks for testing beta56 and reporting this issue!

[2019-12-26 14:03] rikvdkleij commented on #350
@i-schuetz It can take some time before all Haskell tools are installed. Otherwise try beta56.

[2019-12-26 15:30] rikvdkleij commented on #492
Should be fixed in beta57.

[2019-12-27 10:12] nhenin commented on #475
about having to recompile everything each time, I have fixed the issue by using `--fast` flag... Now the plugin stay jammed from time to time, so I'm still using the terminal sometimes, but it looks like it's less at each updates.... Obviously I'm not giving you that much information to solve the jamming issue...

[2019-12-27 13:11] develop7 commented on #492
Thanks!

[2019-12-27 13:11] #492 closed

[2019-12-27 23:20] i-schuetz commented on #350
I tried again and waited for about half an hour. Then I installed beta56 restarted and it's again stuck half an hour on "Busy with installing htlint in /....lts-14/bin".

[2019-12-28 10:52] rikvdkleij commented on #350
@i-schuetz Don't know what is going on. Try to install `hlint` manually with one core, stack option `-j1`

[2019-12-29 00:47] i-schuetz commented on #350
Okay I minimized IntelliJ and reopened a few hours later. It seems it finished. It's working.

[2019-12-30 09:27] rubin55 commented on #450
Just downloaded the current version of intellij-haskell (1.0.0-beta52) and got this issue also. The error message is:

[code]

[2019-12-30 09:36] rubin55 commented on #450
I tested this, this does not work; Adding Users in the Security pane and granting full control does not change the behaviour - I still get the error.

[2019-12-30 09:37] rubin55 commented on #450
@rikvdkleij Can you re-open this issue? Will try and find out what's going on exactly. Running stack.exe with adminitrative privileges is not a valid workaround imho..

[2019-12-30 10:43] rubin55 commented on #450
I've noticed I can reproduce the issue from command-line, when setting compatibility mode to enabled and selecting any of ["Windows 8", "Windows 7", Windows Vista *"]. The Error message on the console is then exactly the same:

Windows 10 regular, no compatibility mode enabled:
[code]
Any compatibility mode enabled:
[code]

[2019-12-30 11:03] rubin55 commented on #450
I've discovered this pull on vscode-hie-server: https://github.com/alanz/vscode-hie-server/pull/136, which explicitly unsets __COMPAT_LAYER before calling the stack.exe executable. I've verified that this indeed does work, but I can't figure out what that variable is set to when intellij-haskell calls stack.exe.

More details also on this thread, and comments:  https://github.com/commercialhaskell

[2019-12-30 11:35] rubin55 commented on #450
So I redownloaded stack.exe from the gitub releases page of the stack project and wrote a small wrapper batch script that could either unset or echo __COMPAT_LAYER:

[code]
I then added `stack.bat` as a stack executable. However, after doing this, the error did not occur anymore, which surprised me, to say the least. I then added the binary directly, where the only difference was now its name, and

[2019-12-30 12:40] rubin55 opened #494 "On Windows, opening previously created stack project, causes intellij-haskell to try and create instead of open"
After following the "Getting Started" section of the README.md, I succesfully opened a stack project without errors, with verified-working hoogle lookups for types and syntax highlighting, hlint, etc.

However, on re-opening of the project (close project, at project window, open the project in the list) I get the following errrors:

[code]

I see two issues here:

 1. what is the stty command doin

[2019-12-30 12:54] rubin55 opened #495 "On Windows, hover over "putStrLn" does not show documentation"
I have an example Lib.hs file with a few functions. one using `product`, the other using `putStrLn`. Hovering over `product` gives me relevant hoogle documentation. Hovering over `putStrLn` does not:

Not for `putStrLn`:
![no-hover-docs-for-putstrln](https://user-images.githubusercontent.com/6214491/71582739-28ad2e80-2b14-11ea-8f9e-7d1c0dd2b44e.png)

Yes for `product`:
![yes-hover-docs-for-product

[2019-12-30 13:12] rubin55 opened #496 "Hlint inspection -> show inspection information links to deprecated hlint home"
When selecting "show inspection information", a link is presented, which points to community.haskell.org/~ndm/hlint/ . However, community.haskell.org is defunct , according to: https://wiki.haskell.org/Community_server_(defunct)

It happens here:
![hlint-homepage-link-dead](https://user-images.githubusercontent.com/6214491/71583324-9eb29500-2b16-11ea-9c75-c47b3b8404d5.png)

Maybe better to link to

[2019-12-30 17:20] aryairani opened #497 "double-qualifying autocompleted identifiers in beta57?"
Given:
[code]
![image](https://user-images.githubusercontent.com/538571/71592463-5dae8680-2afe-11ea-9918-1a755b22df83.png)

See how the autocomplete is `HQ'.HQ'.requalify`?  But it should just be `HQ'.requalify` as the longer name doesn't exist.

Here's a crazier example:
given
[code]
![image](https://user-images.githubusercontent.com/538571/71592546-a9613000-2afe-11ea-8e11-3aed689d4577.png)

P.S.

[2019-12-30 18:25] rikvdkleij commented on #494
Looking to the errors you didn't request to (re)open a project but you created a new project.

`stty`command  is not from the plugin.

[2019-12-30 18:27] rikvdkleij commented on #496
Thanks for reporting!

[2019-12-30 18:35] rikvdkleij commented on #495
Thanks for reporting!

Can you try the latest beta, beta57?. It works for me.

[2019-12-30 18:43] rikvdkleij commented on #497
Thanks for reporting!

I can not reproduce this issue. I tried several scenarios.

What are your code completion settings and at which location do you request code completion?

[2019-12-30 19:27] aryairani commented on #497
Oops, where can I find my code completion settings?

As a test just now, I did
[code]
did "New project from existing sources..."
"Haskell Tool Stack 1.9.3 (2.1.3 )"

Navigate -> File -> `HandleInput.hs:206:49` and did Ctrl+Space (Code Completion -> Basic).

![image](https://user-images.githubusercontent.com/538571/71597207-4bd5df00-2b10-11ea-9efd-3cac77d2b484.png)

The first completion is `HQ'.Uni

[2019-12-30 20:00] rikvdkleij commented on #497
If you go to settings and then search for "code completion" you will find them.
For me `Match case` and `First letter only` are enabled.

[2019-12-30 20:05] aryairani commented on #497
![image](https://user-images.githubusercontent.com/538571/71598693-dec54800-2b15-11ea-9b50-56b94ef4db8f.png)

[2019-12-31 04:04] #473 closed

[2019-12-31 08:25] rubin55 commented on #494
I miread the README.md; it currently states that:

 * After your project is built successfully, import project in IntelliJ by using File>New>Project from Existing Sources... from the IntelliJ menu;
 * In the New Project wizard select Import project from external model and check Haskell Stack;

I tried to do that from the Project dialog that IntelliJ starts up with; there, you cannot select New Pro

[2019-12-31 08:25] #494 closed

[2019-12-31 11:10] rubin55 commented on #495
I downloaded beta57 from the releases page, replaced the intellij-haskell plugin directory in ~/.IntelliJ*/config/plugins, started IntelliJ and opened the project (hosted here btw: https://github.com/rubin55/husky-tricks); intellij-haskell rebuilds itself due to lts14 usage. closed the project after all build jobs were done, exited IntelliJ, re-opened the project, still no documentation for putStr

[2019-12-31 11:15] rubin55 commented on #495
I also notice that GoTo (ctrl-b) works for the `product` case, and not for the `putStrLn` case, maybe that's significant?

[2020-01-01 14:01] rikvdkleij commented on #495
Yes. you can enable the `Haskell Event log`, see README.

Did you build the Hoogle database? A notification popups when your open a project and it's not done yet.

Maybe the event log contains some clue....

[2020-01-01 14:03] rikvdkleij commented on #494
Yes, I see, that is confusing! I will adapt the README, Thanks!

[2020-01-02 07:16] rubin55 commented on #495
Hoogle database was created/updated, yes.

[2020-01-04 08:12] Dmitriusan opened #498 "Can not create new project at Idea without Stack installed"
I have Idea installation with IntelliJ-Haskell plugin installed (1.0.0-beta52). After moving Idea cofiguration dir to another computer, I was not able to create new projects (File->New->Project silently does nothing).
It took some time to find the reason at Idea logs. Looks like it's caused by the fact that I have no Stack installed on a new computer:

[code]

[2020-01-04 12:03] iainnicol commented on #450
Inspired by the research of @rubin55 and others, I took a look at this.

Process Monitor from Sysinternals tells us stack is being spawned with environmental variable ``__COMPAT_LAYER=DetectorsAppHealth``. This is value beyond not documented: it returns one only useless search result.

I'm not certain it's Windows Defender setting this, but if not it definitely sounds it is caused by some similar

[2020-01-05 12:31] i-schuetz opened #499 "Automatic imports don't work"
I seem to be unable to auto import modules. They're in the same (or nested) directory. Project: https://github.com/i-schuetz/dmmf

They don't work anywhere. Just a random example:
E.g. https://github.com/i-schuetz/dmmf/blob/master/src/Types/PersonalName.hs#L3

[2020-01-10 18:05] Sir4ur0n opened #500 "Parse failure when using TypeFamilyDependencies"
The parser seems to break when using [TypeFamilyDependencies](https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/glasgow_exts.html#extension-TypeFamilyDependencies) extension.

Example:
[code]

This compiles fine with GHC/Stack (`lts-14.16`)

The parser breaks on the vertical pipe.

![image](https://user-images.githubusercontent.com/1204125/72175311-313b1a00-33dc-11ea-872e-91af29095ab

[2020-01-14 04:00] cbxzcm commented on #434
Hi.

I have this same problem in Windows 10 with plugin version 1.0.0-beta52.

My stack version:
[code]

[2020-01-20 08:24] Sir4ur0n opened #501 "Publish again the plugin"
Hi,

I could not find any issue regarding this yet. It seems that this plugin is no longer published on Intellij website (and thus, on auto updating from Intellij), is this intentional?

I think many users never come on Github to manually download and install the latest release :disappointed:

Cheers!

[2020-01-20 09:07] Sir4ur0n opened #502 "java.lang.Throwable: Assertion failed: Notification should have title and/or content; groupId: Haskell Balloon"
Ever since I upgraded to 57 (from 52) I get this exception:
[code]

And indeed I get an empty notification:
![image](https://user-images.githubusercontent.com/1204125/72713073-a7721600-3b6c-11ea-9f1b-0e0cdfad5a5d.png)
![image](https://user-images.githubusercontent.com/1204125/72713088-accf6080-3b6c-11ea-9b33-0ea75292f414.png)

[2020-01-20 21:50] declension commented on #247
Any ideas on this?

It'd be great even if there was an update to the error about not finding a Cabal file that suggested running `stack install` if it's an `hpack` project...

[2020-01-21 18:27] rikvdkleij commented on #499
Thanks for reporting!

What do you mean exactly? What do you expect?

I have cloned your project and opened inside IntelliJ,  For me the auto completion on importing  project modules works in e.g. `PersonalName.hs`.

[2020-01-21 18:29] rikvdkleij commented on #500
Thanks for reporting!

I will fix this parser issue.

[2020-01-21 18:36] rikvdkleij commented on #501
Well, the latest releases are still published to the alpha plugin repo.

My plan is/was is that changes are first tested before they are published to the normal repo. I try to be careful with publishing new releases... but I admit it's time to do publish a new release to the normal repo.

[2020-01-21 18:52] rikvdkleij commented on #502
Thanks for reporting!

I can suppress this exception but I wonder why installing Hoogle returns with exit code not equal to 0. Is there some info in the progress bar?

[2020-01-21 18:59] rikvdkleij commented on #247
I didn't give any prio to this issue.

I don't see the the problem:
When a project is opened, the project is built and that will generate the Cabal file.

[2020-01-21 20:25] declension commented on #247
Ah right, maybe I should open a separate issue. The problem is, AIUI, that _Import from existing sources_ can't detect there _being_ a Haskell project without the Cabal file there first...

[2020-01-22 10:00] Sir4ur0n commented on #502
What do you mean, the progress bar?

I don't have anything else in the event log though.

Could this be related to me using Nix[OS]? If I remember in https://github.com/rikvdkleij/intellij-haskell/issues/455 I had to manually install stuff for it to work. However back in the days, the failed command was printed in the event log, now there's nothing... I'll give it a try

[2020-01-22 10:09] Sir4ur0n commented on #501
Also, don't you agree it's time to go out of beta? 65K+ downloads, this plugin is now used for real in many projects and teams.
Not being tagged as beta would maybe help more developers feel safe using it?

[2020-01-22 10:25] Sir4ur0n commented on #502
Ok it seems to work when I manually did the same install as #455 but with LTS 14, I guess we can close this issue as I see you have submitted a commit to actually put content in the balloon ^^

Cheers and thank you!

[2020-01-22 10:25] #502 closed

[2020-01-27 03:32] izhangzhihao commented on #490
It's there any plan to implement a proper PSI tree?

[2020-01-27 16:06] rikvdkleij commented on #490
@izhangzhihao Yes, see https://github.com/rikvdkleij/intellij-haskell/tree/layoutlexer, Any help is welcome.

[2020-01-29 08:12] mnn opened #503 "Creation of new project fails"
There is something wrong with `--stack-root` path:

[code]

[code]

Windows 10, plugin beta57

[2020-01-29 12:41] skyrylyuk opened #504 "Build plugin failed."
Hello

I am passionate about your work
In my opinion - at the moment - this is the best tool to work with.

Can you update 'How to build project' section in documentation or provide addition instructions how correct setup work environment  for build.

Kind regards.

[2020-01-29 19:00] rikvdkleij commented on #504
In my opinion - at the moment - this is the best tool to work with.

Thanks!

These instructions https://github.com/rikvdkleij/intellij-haskell/blob/master/CONTRIBUTING.md should be right. Otherwise let me know what your problem is.

[2020-01-30 18:24] skyrylyuk commented on #504
Hello

I have next issue:

1. Set correct version openjdk version (1.8.0_232), scala (2.13.1), sbt(1.3.7)  host MasOS
2. Clone project into empty directory
3. Navigate to project directory
4. Execute in shell command from tutorial `sbt updateIdea`

As result receive error

`sbt updateIdea
[info] Loading global plugins from /Users/skyrylyuk/.sbt/1.0/plugins
[info] Loading settings for project intel

[2020-01-30 19:21] rikvdkleij commented on #504
Ok, I see, this command is changed to
`updateIntellij`
in later versions of `sbt-idea-plugin`, see https://github.com/JetBrains/sbt-idea-plugin

[2020-01-30 19:29] skyrylyuk commented on #504
Thanks, your advice is work!

But I have one more question, does `sbt runIDE` should work for run IDE with plugin?
If answer is yes, may be you can help with next issue
`
JDK Required: Cannot load a JDK class: com.sun.jdi.Field
Please ensure you run the IDE on JDK rather than JRE.
<img width="642" alt="Screen Shot 2020-01-30 at 21 26 18" src="https://user-images.githubusercontent.com/785578/734831

[2020-01-30 19:35] rikvdkleij commented on #504
I never used that way to run the plugin. But your issue is that you need to install locally a JDK instead of JRE.

[2020-01-30 19:49] skyrylyuk commented on #504
I use sdkman to setup JDK and other java tools
How do you think it can be reason of this issue?

[2020-01-30 19:51] rikvdkleij commented on #503
Thanks for reporting!

Looks like a bug in `https://github.com/soc/directories-jvm`. That directory which starts with `null` is obtained via this library.

[2020-01-30 19:53] rikvdkleij commented on #504
I don't know.

You can also start the plugin from inside IntelliJ according to the instructions in `CONTRIBUTING.md`

[2020-01-31 05:36] mnn commented on #503
You are right, it looks like [this issue](https://github.com/soc/directories-jvm/issues/26). It seems some JDK changes are responsible.

Maybe try the suggested workaround?

[2020-02-01 11:59] rikvdkleij commented on #499
Took a better look and found a serious bug. Thanks!

[2020-02-02 05:48] garetht commented on #504
@skyrylyuk The `sbt-idea-plugin` [automatically downloads the IDEA source into](https://github.com/JetBrains/sbt-idea-plugin#intellijdownloaddirectory-in-thisbuild--settingkeyfile) a folder in the home directory. When I got a similar error I deleted the the entire IDEA directory there and tried running `runIDE` again from within the SBT shell, which worked.

[2020-02-02 20:38] #499 closed

[2020-02-04 15:04] develop7 opened #505 "Unhandled exception when updating Haskell tools"
Repro: run "update haskell tools", observe empty error balloon

<details>
<summary>IntelliJ IDEA 2019.3.2</summary>

[code]

</details> intellij-haskell 1.0b57

<details>
<summary>Stacktrace</summary>

[code]

</details>

[2020-02-04 18:20] rikvdkleij commented on #505
Thanks for reporting!

It's already fixed in master. See #502

[2020-02-04 19:02] #505 closed

[2020-02-04 19:32] mnn commented on #503
After some stumbling I managed to build the master and the null path issue seems to be fixed. Unfortunately we (I am helping a friend with Windows) only got one step further. Project looks to be created (directory structure, few hs files), but the plugin (or other tool ran by the plugin) has some problem with running the compiler.

Messages panel:
[code]

Event log panel:
[code]

Interestingly, th

[2020-02-04 20:16] rikvdkleij commented on #503
Maybe this issue helps https://github.com/rikvdkleij/intellij-haskell/issues/450

[2020-02-07 12:52] Sir4ur0n commented on #485
Ormolu is now on Stackage, however for the moment it is on Nightly, not LTS 14 (which AFAIU is the LTS used by the plugin to install stuff).

I guess we need to wait until the next LTS containing it before moving on? ^^'

[2020-02-08 05:18] GordonGgx commented on #480
me too.

[2020-02-08 05:21] GordonGgx commented on #480
I've used stack ` install hlint` to install it, but this plug-in doesn't seem to search for the content in` ~. / local / bin` by itself

[2020-02-08 13:00] rikvdkleij commented on #480
@GordonGgx Hlint will be automatically installed in the IntelliJ-Haskell cache folder.

When you want to install Hlint yourself, you will have to use beta57.
In beta57 you can set the path to Hlint via Haskell Settings.

[2020-02-08 13:04] rikvdkleij commented on #485
Yes. In the meantime I will take a look how Ormolu works. Eventually I want to replace Hindent by Ormolu because Hindent is no longer maintained AFAIK.

[2020-02-08 13:09] rikvdkleij commented on #485
@Sir4ur0n Question: currently the reformatter works by first using Hindent and then Stylish-Haskell. I wonder if it has to keep working this way or is it sufficient to run Ormolu on it's own? What's your opinion?

[2020-02-08 14:21] GordonGgx commented on #480
Yes, I found it.

[2020-02-08 14:33] #480 closed

[2020-02-09 10:48] Sir4ur0n commented on #485
IMHO Ormolu alone is enough. It takes care of imports (indeed import syntax is quite different between Stylish and Ormolu).

Also, in terms of usability, using 2 formatters at once (Hindent **then** Stylish) has weird consequences, like using "Undo" just after a format forces to undo several times (1st Undo undoes Stylish, 2nd undoes Hindent).

[2020-02-09 19:14] rikvdkleij commented on #485
beta58 contains Ormolu support by setting path in Haskell Settings.

[2020-02-11 19:37] rikvdkleij commented on #500
Should be fixed in beta58.

[2020-02-11 19:51] rikvdkleij commented on #497
Eventually I could reproduce your issue and fix it.

[2020-02-11 23:56] aryairani commented on #497
❤️

[2020-02-12 13:09] Sir4ur0n opened #506 "NoSuchMethodError NonBlockingReadAction.cancelWith in beta 58"
Ever since upgrading to beta 58 I get this exception as soon as Intellij starts my project:
[code]

[2020-02-12 13:44] rikvdkleij commented on #506
You need to upgrade IntelliJ. Will fix that in next version by setting minimum version.

[2020-02-12 15:07] Sir4ur0n commented on #506
Indeed, as I am on NixOS 19.09 I didn't have Intellij 2019.3 yet. My bad, we can close :smile:

[2020-02-12 15:07] #506 closed

[2020-02-12 15:07] Sir4ur0n commented on #500
Thank you, this seems to be fixed with beta 58 :100:

[2020-02-12 15:07] #500 closed

[2020-02-12 21:01] fabrien opened #507 "Project won't build when using a dependency installed using nix"
Hello,

First of all I think this plugin is awesome. It provides a lot of cool features, and even if I struggled to get it to work at the begining, it was working like a charm so far, so thank you for the amazing work !

I am working on an llvm project right now. I need to use llvm-6.0 for that, and I needed nix to get this specific package.

My whole project is working just fine, all the plugin's

[2020-02-13 08:27] Sir4ur0n commented on #507
Hi @fabrien, as a user of Nix (and NixOS) this looks a lot like [this issue](https://github.com/rikvdkleij/intellij-haskell/issues/455), can you try the fix?

I.e. run the same command as Intellij does (you can find it in the logs/error message) and add `--nix-packages "llvm_6"` somewhere.
I know this is annoying to do it manually, but the good news is, you only have to do it once!

Cheers

[2020-02-13 08:32] Sir4ur0n commented on #485
What about the "Haskell reformat code" and "Haskell optimize imports" checkboxes in the Commit window?
![image](https://user-images.githubusercontent.com/1204125/74415492-c13d0b00-4e43-11ea-9134-8b3db4cdfeb5.png)

I'm not sure how Hindent/Stylish/Ormolu interact with this feature

[2020-02-13 12:06] fabrien commented on #507
Hi @Sir4ur0n. Thanks a lot for this fast answer. I stumbled upon this issue, but did not know how to use the answer :

Because neither shell.nix nor default.nix exist. It might be because I am not using nixos but just nix though.

I'd love to upgrade, but I am working on a school project, which imposes this version on us.

So I executed this command (with stack directly and not ~/.nix-profile/bin/

[2020-02-13 16:16] i-schuetz commented on #499
Thanks for looking again into it @rikvdkleij! I haven't had time.

[2020-02-13 19:08] rikvdkleij commented on #485
The `Haskell optimize imports` has nothing do with the reformatters.

`Haskell reformat code` is the same action as in the editor. So when the path to `ormolu` is defined in Haskell settings then `ormolu` otherwise hindent/stylish.

[2020-02-14 16:16] develop7 opened #508 "Unhandled exception"
No repro steps, just realized exception reports icon is blinking for a while; hope that'll do.

<details>
<summary>Stack trace</summary>

[code]

</details>

[2020-02-14 16:19] develop7 opened #509 "Unhandled com.intellij.psi.PsiInvalidElementAccessException"
ij-haskell 1.0.0beta-58

<details>
<summary>Stack trace</summary>

[code]

</details>

<details>
<summary>Invalidation.trace</summary>

[code]

</details>

[2020-02-14 18:21] Sir4ur0n commented on #485
I see, thank you!

I am eagerly waiting for LTS 15 [to be released](https://www.stackage.org/blog/2020/02/upcoming-lts-15-ghc-8-8-2) to try all this together 😄

[2020-02-14 18:50] Sir4ur0n commented on #507
This plugin doesn't use the Stack snapshot of your `stack.yaml` file but its own. If your Intellij Haskell plugin is recent, it is using LTS 14.

Try this and let us know how things work out:
[code]

Also, FYI, `default.nix` and `shell.nix` are Nix-related, not NixOS. This is [the other mode of Nix + Stack integration](https://docs.haskellstack.org/en/stable/nix_integration/#using-a-custom-shellni

[2020-02-15 11:05] fabrien commented on #507
Oh right, yes, my plugin is the latests version (and it is mentionned in the patch note that it is using LTS 14), so I did just that, the command worked, but nothing changed (I rebooted, restarted and upgraded IntelIJ Ultimate)

Oh, thank you.

[2020-02-15 15:56] rikvdkleij commented on #508
Thanks for reporting!